mat-card {
  margin: 20px;
  padding: 20px;
}

mat-form-field {
  display: block;
  margin-bottom: 15px;
}

button {
  margin-right: 10px;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:not([type="checkbox"]) {
  &:disabled {
    color: #000 !important; // Azul oscuro para resaltar
    font-weight: bold;
    background-color: #e8eaf6; // Fondo suave para contraste
  }

  .mat-form-field-label {
    color: #000 !important;
    font-weight: 600;
  }
}

.editor-container {
 
  width: 100%;
  border: 2px solid #0098cb;
  border-radius: 5px;
  /* padding: 1rem; */
  margin-bottom: 1rem;
}

.custom-editor ::ng-deep .monaco-editor {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
  display: block;
}

::ng-deep .highlighted-variable {
  background-color: yellow;
  border-radius: 3px;
  padding: 0 2px;
}


