<mat-card>
  <form [formGroup]="actoForm" (ngSubmit)="onSubmit()">
    <h3>Acto Administrativo: {{ actoForm.get('denominacion')?.value }}</h3>
    <mat-label>Texto</mat-label>
    <section ngClass="editor-container">
      <nu-monaco-editor
        (onInit)="onEditorInit($event)"
        formControlName="texto"
        language="json"
        class="custom-editor"
        style="height: 700px;"
      ></nu-monaco-editor>
    </section>

    <mat-label>Texto (ES)</mat-label>
    <section ngClass="editor-container">
      <nu-monaco-editor
        (onInit)="onEditorInit($event)"
        formControlName="texto_es"
        language="json"
        ngClass="custom-editor"
        style="height: 700px;"
      ></nu-monaco-editor>
    </section>
    <button mat-raised-button color="primary" type="submit">
      {{ editingId ? 'Actualizar' : 'Crear' }}
    </button>
    <button mat-button type="button" (click)="cancelEdit()" *ngIf="editingId">Cancelar</button>
  </form>
</mat-card>