mat-card {
  margin: 20px;
  padding: 20px;
}

mat-form-field {
  display: block;
  margin-bottom: 15px;
}

button {
  margin-right: 10px;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:not([type="checkbox"]) {
  &:disabled {
    color: #000 !important; // Azul oscuro para resaltar
    font-weight: bold;
    background-color: #e8eaf6; // Fondo suave para contraste
  }

  .mat-form-field-label {
    color: #000 !important;
    font-weight: 600;
  }
}

