<form [formGroup]="ayudaForm" (ngSubmit)="onSubmit()" ngClass="form">

<div class="example-action-buttons">
  <button matButton ngClass="btn-green btn" (click)="accordion().openAll()">Expand All</button>
  <button matButton ngClass="btn-green btn" (click)="accordion().closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel [expanded]="step() === 0" (opened)="setStep(0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        RGPD y documentación
      </mat-panel-title>
      <mat-panel-description>
         <mat-icon>policy</mat-icon>Condiciones del RGPD y <mat-icon>file_copy</mat-icon>documentación requerida
      </mat-panel-description>
    </mat-expansion-panel-header>

    <section class="example-section">
      <mat-checkbox formControlName="acceptRGPD">RGPD</mat-checkbox><button mat-flat-button type="button" ngClass="btn"
    (click)="openDialog('300ms', '300ms', 'Sobre el RGDP', introText, '', '')"><mat-icon style="color: #ff9310;">info</mat-icon></button>
    </section>
  </mat-expansion-panel>

  <mat-expansion-panel [disabled]="!rgpdAccepted">
    <mat-expansion-panel-header>
      <mat-panel-title>Programas de ayuda</mat-panel-title>
      <mat-panel-description>
        Seleccione uno o varios programas de ayuda
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Programa de ayuda:</mat-label>
      <mat-select id="programa" formControlName="programa" multiple>
        <mat-option *ngFor="let prog of programas" [value]="prog">{{ prog }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel [disabled]="!rgpdAccepted">
    <mat-expansion-panel-header>
      <mat-panel-title> Tipo de solicitante </mat-panel-title>
      <mat-panel-description>
        Indique el tipo de organización
        <mat-icon>corporate_fare</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="autonomo">Autónomo</mat-radio-button>
      <mat-radio-button value="pequenya">Pequeña empresa</mat-radio-button>
      <mat-radio-button value="mediana">Mediana empresa</mat-radio-button>
    </mat-radio-group>
  </mat-expansion-panel>
</mat-accordion>








<mat-form-field appearance="fill" class="full-width">
  <mat-label>Subir documentos (PDF o imagen)</mat-label>
  <input
    type="text"
    matInput
    [value]="nombresArchivos"
    placeholder="Selecciona archivos"
    readonly
    (click)="fileInput.click()"
  />
</mat-form-field>

<input
  #fileInput
  type="file"
  (change)="onFileChange($event)"
  multiple
  accept=".pdf,image/*"
  hidden
/>

<button mat-raised-button color="primary" (click)="fileInput.click()">
  Seleccionar archivos
</button>

<ul *ngIf="archivosSubidos.length > 0">
  <li *ngFor="let file of archivosSubidos">{{ file.name }}</li>
</ul>

  <button mat-raised-button color="primary" type="submit" [disabled]="ayudaForm.invalid">Enviar solicitud</button>
</form>
