<form [formGroup]="ayudaForm" (ngSubmit)="onSubmit()" ngClass="form">

<mat-form-field appearance="fill">
 <mat-label>Programa de ayuda:</mat-label>
<mat-select id="programa" formControlName="programa" multiple>
 <mat-option *ngFor="let prog of programas" [value]="prog">{{ prog }}</mat-option>
</mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="full-width">
  <mat-label>Subir documentos (PDF o imagen)</mat-label>
  <input
    type="text"
    matInput
    [value]="nombresArchivos"
    placeholder="Selecciona archivos"
    readonly
    (click)="fileInput.click()"
  />
</mat-form-field>

<input
  #fileInput
  type="file"
  (change)="onFileChange($event)"
  multiple
  accept=".pdf,image/*"
  hidden
/>

<button mat-raised-button color="primary" (click)="fileInput.click()">
  Seleccionar archivos
</button>

<ul *ngIf="archivosSubidos.length > 0">
  <li *ngFor="let file of archivosSubidos">{{ file.name }}</li>
</ul>

  <button mat-raised-button color="primary" type="submit" [disabled]="ayudaForm.invalid">Enviar solicitud</button>
</form>
