
:host {
  display: block;
  max-width: 1200px;
  margin: 2rem auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  grid-template-columns: 1fr;
}

.btn-adr {
  background-color: #0098ce;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0098ce;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.btn {
  margin-bottom: .5rem;
  background-color: transparent;
  color: #00405e;
  &:hover {
    color: #fff;
  }
}

mat-icon {
  &:hover {
    cursor: pointer;
    background-color: #0098cb;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;

  li {
    background-color: #e6f2ef;
    color: #000000;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    font-size: 0.95rem;
  }
}

div.ng-invalid.ng-touched {
  color: #d9534f;
  font-size: 0.875rem;
}

.checkbox-section {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.checkbox-margin {
  width: 100%;
}

mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 16px; /* Espaciado entre campos */
}

.full-width {
  width: 100%;
}
