@use "../../adr-colors";
@use "../../utilities.scss";

.uploaddocumentarea {
  margin-bottom: .5rem;
}
.tablecontainer {
  border: 1px solid adr-colors.$primary-adr;
}

a {
  color: adr-colors.$primary-adr;
  text-decoration: underline;
}
a:hover {
  font-weight: bold;
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.pdf-container {
  height: 80vh;
  overflow: auto;
  margin-top: 1rem;

  background-color: #fff;
  border: 1px solid  adr-colors.$primary-adr;
  border-radius: 8px;

  // Sombra elegante
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

  // Scroll personalizado (opcional)
  scrollbar-width: thin;
  scrollbar-color:  adr-colors.$primary-adr #f1f1f1;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color:  adr-colors.$primary-adr;
    border-radius: 4px;
  }

  // Transición suave al cargar o cambiar
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
  }
}


// Define un contenedor para centrar y aplicar estilo
.image-viewer-container {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  max-width: 90%;
  margin: 2rem auto;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); // sombra en la imagen
    transition: transform 0.2s ease;
    
    &:hover {
      transform: scale(1.01);
    }
  }

  .close-button {
    position: absolute;
    bottom: -2.5rem;
    right: 0.5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.25rem 0.5rem;
    z-index: 10;
  }
}
