<section ngClass="uploaddocumentarea">
    <section>
      <input type="file" (change)="onFileSelected($event)">
      <button *ngIf="showConfirmation" (click)="uploadDocuments()" mat-raised-button color="primary">{{'upload' | translate}}</button>
    </section>

    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-table [dataSource]="selectedFiles" ngClass="mat-elevation-z8 tablecontainer">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> {{'FORM.DOCUMENTNAME' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let file">
           {{ file.name }}
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef> {{'FORM.DOCUMENTSIZE' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let file"> {{ file.size | number }} bytes </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['name', 'size']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'size'];"></mat-row>
    </mat-table>

    <mat-table [dataSource]="documents" ngClass="mat-elevation-z8 tablecontainer">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> {{'FORM.DOCUMENTNAME' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let document">
            <ng-container >
              <img *ngIf="document.extension !== 'pdf' && document.extension !== 'doc' && document.extension !== 'docx' && document.extension !== 'xls' && document.extension !== 'xlsx'" width="40px" src='https://pre-tramits.idi.es/public/index.php/api/documents/view/{{origin}}/{{id}}/{{ document.name }}' alt='https://pre-tramits.idi.es/public/index.php/api/documents/view/{{origin}}/{{id}}/{{document.name}}' title="{{document.name}}">
              <img *ngIf="document.extension == 'pdf'"  width="40px" src='../../assets/images/logo-2-pdf.jpg' alt='https://pre-tramits.idi.es/public/index.php/api/documents/view/{{origin}}/{{id}}/{{document.name}}' title="{{document.name}}">
              <img *ngIf="document.extension == 'docx' || document.extension == 'doc'" width="40px" src='../../assets/images/logo-docx.jpg' alt='https://pre-tramits.idi.es/public/index.php/api/documents/view/{{origin}}/{{id}}/{{document.name}}' title="{{document.name}}">
              <img *ngIf="document.extension == 'xlsx' || document.extension == 'xls'" width="40px" src='../../assets/images/logo-xlsx.jpg' alt='https://pre-tramits.idi.es/public/index.php/api/documents/view/{{origin}}/{{id}}/{{document.name}}' title="{{document.name}}">
            </ng-container>
            {{document.name}}
          </mat-cell>
          <mat-cell *matCellDef="let document">
            <img *ngIf="document.extension !== 'pdf'" width="40px" src='https://pre-tramits.idi.es/public/index.php/api/documents/view/{{origin}}/{{id}}/{{ document.name }}' alt='https://pre-tramits.idi.es/public/index.php/api/documents/view/{{origin}}/{{id}}/{{document.name}}' title="{{document.name}}">
            <img *ngIf="document.extension == 'pdf'" width="40px" src='../../assets/images/logo-2-pdf.jpg' alt='https://pre-tramits.idi.es/public/index.php/api/documents/view/{{origin}}/{{id}}/{{document.name}}' title="{{document.name}}">
            <img *ngIf="document.extension == 'docx'" width="40px" src='../../assets/images/logo-docx.jpg' alt='https://pre-tramits.idi.es/public/index.php/api/documents/view/{{origin}}/{{id}}/{{document.name}}' title="{{document.name}}">
            {{document.name}}
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let document" ngClass="action-buttons">
          <button (click)="viewDocument(document.url)" mat-raised-button>View</button>
          <button (click)="deleteDocument(document.name)" mat-raised-button color="warn">Delete</button>
          <button (click)="changeDocumentState(document)" mat-raised-button [color]="getButtonColor(document.estado)"><mat-icon>{{ getButtonIcon(document.estado) }}</mat-icon>{{ document.estado }}</button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['name', 'actions']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'actions'];"></mat-row>
    </mat-table>
</section>
<div *ngIf="safeUrl">
  <h3>The document:</h3>
  <iframe [src]="safeUrl" width="100%" height="600px" style="border: none;"></iframe>
</div>