<section ngClass="title-container">
    <h3>{{ 'FORM.EXPEDIENT' | translate }}: {{actualIdExp}}/{{actualConvocatoria}} ({{actualTipoTramite}}) {{actualEmpresa}} - {{actualNif}}</h3>
</section>

<form [formGroup]="form" ngClass="detalle-formulario">
    <section>
        <button mat-raised-button color="primary" type="submit" (click)="enableEdit()">Editar</button>
        <button mat-raised-button color="accent" (click)="saveExpediente()" [disabled]="!form.valid || !isEditing">Guardar</button>
    </section>
    <mat-tab-group animationDuration="500ms" mat-stretch-tabs mat-align-tabs="center" dynamicHeight
    [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <span ngClass="exped-tab general-tab">{{'APP.GENERAL' | translate}}</span>
            </ng-template>
            <mat-card ngClass="mat-card-general">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.COMPANYNAME' | translate}}</mat-label>
                        <input matInput type="text" formControlName="empresa">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label *ngIf="businessType === 'autonomo'">{{'FORM.NIF' | translate}}</mat-label>
                        <mat-label *ngIf="businessType !== 'autonomo'">{{'FORM.CIF' | translate}}</mat-label>
                        <input matInput type="text" formControlName="nif" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REQUESTDATE' | translate}}</mat-label>
                        <input matInput type="datetime-local" step="1" formControlName="fecha_solicitud" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.PROCESSLINE' | translate}}</mat-label>
                        <input matInput type="text" formControlName="tipo_tramite" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.NOTIFICATIONMOBILE' | translate}}</mat-label>
                        <input matInput type="tel" formControlName="telefono_rep" maxlength="9" minlength="9">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.NOTIFICATIONMAIL' | translate}}</mat-label>
                        <input matInput type="email" formControlName="email_rep">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.ADDRESS' | translate}}</mat-label>
                        <input matInput type="text" formControlName="domicilio">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.TOWN' | translate}}</mat-label>
                        <input matInput type="text" formControlName="localidad">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.ZIPCODE' | translate}}</mat-label>
                        <input matInput type=text formControlName="cpostal" minlength="5" maxlength="5">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.CONTACTPHONE' | translate}}</mat-label>
                        <input matInput type="tel" formControlName="telefono" maxlength="9" minlength="9">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.CNAE' | translate}}</mat-label>
                        <input matInput type="text" formControlName="iae">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.NOMREPRESENTANTE' | translate}}</mat-label>
                        <input matInput type=text formControlName="nombre_rep">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.NIFREPRESENTANTE' | translate}}</mat-label>
                        <input matInput type="text" formControlName="nif_rep" maxlength="9" minlength="9">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.PHONEREPRESENTANTE' | translate}}</mat-label>
                        <input matInput type="tel" formControlName="telefono_contacto_rep" maxlength="9" minlength="9">
                    </mat-form-field>
                    <section ngClass="autorizaciones">
                        <h4>Autoriza a consultar:</h4>
                        <mat-checkbox [checked]="form.get('file_copiaNIF')?.value === 'SI'" disabled>Copia
                            NIF</mat-checkbox>
                        <mat-checkbox [checked]="form.get('file_certificadoATIB')?.value === 'SI'" disabled>Certificado
                            ATIB</mat-checkbox>
                        <mat-checkbox [checked]="form.get('file_certificadoSegSoc')?.value === 'SI'"
                            disabled>Certificado Seguridad Social</mat-checkbox>
                    </section>
                </section>
                <section>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{'FORM.COMMENTS' | translate}}</mat-label>
                        <textarea matInput formControlName="comments"
                            placeholder="{{'FORM.COMMENTS-PLACEHOLDER' | translate}}"></textarea>
                    </mat-form-field>
                    <section ngClass="ils-radio-input">
                        <mat-label><strong>{{'ISBA.PROJECTINILS' | translate}}</strong></mat-label>
                        <mat-radio-group formControlName="empresa_eco_idi_isba">
                            <mat-radio-button value="SI">{{'APP.YES' | translate}}</mat-radio-button>
                            <mat-radio-button value="NO">{{'APP.NO' | translate}}</mat-radio-button>
                        </mat-radio-group>
                    </section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.PROJECTPURPOSE' | translate}}</mat-label>
                        <input matInput type="text" formControlName="finalidad_inversion_idi_isba">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.ENTITYNAME' | translate}}</mat-label>
                        <input matInput type="text" formControlName="nom_entidad">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.TRANSACTIONAMOUNT' | translate}}</mat-label>
                        <input matInput type="decimal" formControlName="importe_prestamo" min="1">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.LOANTERM' | translate}}</mat-label>
                        <input matInput type="number" formControlName="plazo_prestamo" min="1">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.AVALAMOUNT' | translate}}</mat-label>
                        <input matInput type="decimal" formControlName="cuantia_aval_idi_isba" min="1">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.AVALTERM' | translate}}</mat-label>
                        <input matInput type="number" formControlName="plazo_aval_idi_isba" min="1">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.FORMALIZATIONDATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_aval_idi_isba">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.BUDGETAMOUNT' | translate}}</mat-label>
                        <input matInput type="decimal" formControlName="importe_presupuesto_idi_isba" min="1">
                    </mat-form-field>
                    <section ngClass="budget-details">
                        <h4>{{'ISBA.BUDGETAMOUNTDETAILS' | translate}}</h4>
                        <mat-form-field appearance="outline">
                            <mat-label>{{'ISBA.INTERESTSUBSIDY' | translate}}</mat-label>
                            <input matInput type="decimal" formControlName="intereses_ayuda_solicita_idi_isba" min="1">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>{{'ISBA.COSTSUBSIDY' | translate}}</mat-label>
                            <input matInput type="decimal" formControlName="coste_aval_solicita_idi_isba" min="1">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>{{'ISBA.STARTSTUDYSUBSIDY' | translate}}</mat-label>
                            <input matInput type="decimal" formControlName="gastos_aval_solicita_idi_isba" min="1">
                        </mat-form-field>
                    </section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.REQUEST' | translate}}</mat-label>
                        <input matInput type="decimal" formControlName="importe_ayuda_solicita_idi_isba" min="1">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ISBA.DECLARATION5NO' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ayudasSubvenSICuales_dec_resp">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.ASSIGNEDTECHNICIAN' | translate}}</mat-label>
                        <input matInput type="text" formControlName="tecnicoAsignado">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.SITUATION' | translate}}</mat-label>
                        <mat-select formControlName="situacion" readonly>
                          <ng-container *ngFor="let group of situations">
                            <!-- Sin subgrupos -->
                             <mat-optgroup *ngIf="!group.subgroup" [label]="group.name | translate" style="font-weight: bolder;">
                              <mat-option *ngFor="let option of group.options" [value]="option.value">
                                {{option.label | translate}}
                              </mat-option>
                             </mat-optgroup>
                              <!-- Con subgrupos -->
                             <ng-container *ngIf="group.subgroup">
                              <mat-optgroup [label]="group.name | translate" style="font-weight: bolder;">
                                <ng-container *ngFor="let subgroup of group.subgroup" style="text-decoration: underline;">
                                  <mat-optgroup [label]="subgroup.name | translate">
                                    <mat-option *ngFor="let option of subgroup.options" [value]="option.value">
                                      {{option.label | translate}}
                                    </mat-option>
                                  </mat-optgroup>
                                </ng-container>
                              </mat-optgroup>
                             </ng-container>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                </section>
                <section>
                    <h4 [innerHTML]="'FORM.REQUIREDDOCUMENTATIONDETAILS' | translate"></h4>
                    <app-add-document></app-add-document>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'SI'"></app-document>
                    <app-declaracion-responsable-adr-isba 
                    [actualID]="actualID" [actualNif]="actualNif" 
                    [actualConvocatoria]="actualConvocatoria"></app-declaracion-responsable-adr-isba>
                </section>
            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span ngClass="exped-tab solicitud-tab">{{'APP.REQUEST' | translate}}</span>
            </ng-template>
            <mat-card ngClass="mat-card-solicitud">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REC' | translate}}</mat-label>
                        <input matInput type="datetime-local" step="1" formControlName="fecha_REC">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REF_REC' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ref_REC" maxlength="16">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REC_ENMIENDA' | translate}}</mat-label>
                        <input matInput type="datetime-local" step="1" formControlName="fecha_REC_enmienda">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REF_REC_ENMIENDA' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ref_REC_enmienda" maxlength="16">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REQUERIMIENTO' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_requerimiento" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REQUERIMIENTO_NOTIF' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_requerimiento_notif">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_MAXIMA_ENMIENDA_ISBA' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_maxima_enmienda">
                    </mat-form-field>
                </section>
                <section>
                    <h4>{{'ACTOSADMINISTRATIVOS.TITLE' | translate}}</h4>
                    <app-requerimiento-adr-isba [form]="form" [actualID]="actualID" [actualIdExp]="actualIdExp" [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria" [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa" [motivoRequerimiento] = "motivoRequerimiento"></app-requerimiento-adr-isba>
                    <app-resol-desestimiento-no-enmendar-adr-isba
                    [form]="form"
                    [actualID]="actualID" [actualIdExp]="actualIdExp" 
                    [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria" 
                    [actualTipoTramite]="actualTipoTramite" 
                    [actualEmpresa]="actualEmpresa"></app-resol-desestimiento-no-enmendar-adr-isba>
<!--                     <h4>Mejoras</h4>
                    <app-mejoras-solicitud-detalle-adr-isba [id_sol]="actualID"></app-mejoras-solicitud-detalle-adr-isba> -->
                </section>
                <section>
                    <h4 [innerHTML]="'FORM.REQUESTDOCUMENTATION' | translate"></h4>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'NO'" [faseExped]="'Solicitud'"></app-document>
                </section>
            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span ngClass="exped-tab validacion-tab">{{'APP.VALIDATION' | translate}}</span>
            </ng-template>
            <mat-card ngClass="mat-card-validacion">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_INFOR_FAV_DESF' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_infor_fav_desf">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_FIRMA_PROPUESTA_RESOLUCION_PROV' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_firma_propuesta_resolucion_prov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_NOT_PROPUESTA_RESOLUCION_PROV' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_not_propuesta_resolucion_prov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_FIRMA_PROPUESTA_RESOLUCION_DEF' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_firma_propuesta_resolucion_def" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_NOT_PROPUESTA_RESOLUCION_DEF' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_not_propuesta_resolucion_def">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_FIRMA_RES' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_firma_res" readonly>
                    </mat-form-field>
                </section>
                <section>
                    <h4>{{'ACTOSADMINISTRATIVOS.TITLE' | translate}}</h4>
                    <app-informe-favorable-adr-isba
                    [form]="form" [actualID]="actualID" 
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-informe-favorable-adr-isba>
                    <app-informe-favorable-con-requerimiento-adr-isba
                    [form]="form" [actualID]="actualID" 
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-informe-favorable-con-requerimiento-adr-isba>
                    <app-pr-provisional-favorable-adr-isba
                    [form]="form" [actualID]="actualID"
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-pr-provisional-favorable-adr-isba>
                    <app-pr-provisional-favorable-con-requerimiento-adr-isba
                    [form]="form" [actualID]="actualID"
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-pr-provisional-favorable-con-requerimiento-adr-isba>
                    <app-pr-definitiva-favorable-adr-isba
                    [form]="form" [actualID]="actualID"
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-pr-definitiva-favorable-adr-isba>
                    <app-pr-definitiva-favorable-con-requerimiento-adr-isba
                    [form]="form" [actualID]="actualID"
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-pr-definitiva-favorable-con-requerimiento-adr-isba>
                    <app-resolucion-concesion-adr-isba
                    [form]="form" [actualID]="actualID"
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-resolucion-concesion-adr-isba>
                    <app-resolucion-concesion-con-requerimiento-adr-isba
                    [form]="form" [actualID]="actualID"
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-resolucion-concesion-con-requerimiento-adr-isba>
                </section>
                <section>
                    <h4 [innerHTML]="'FORM.REQUESTDOCUMENTATION' | translate"></h4>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'NO'"
                        [faseExped]="'Validacion'"></app-document>
                </section>
            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span ngClass="exped-tab justificacion-tab">{{'APP.JUSTIFICATION' | translate}}</span>
            </ng-template>
            <mat-card ngClass="mat-card-justificacion">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_NOTIFICACION_RESOLUCION' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_notificacion_resolucion">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_LIMITE_JUSTIFICACION' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_limite_justificacion">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REC_JUSTIFICACION' | translate}}</mat-label>
                        <input matInput type="datetime-local" step="1" formControlName="fecha_REC_justificacion">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REF_REC_JUSTIFICACION' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ref_REC_justificacion" maxlength="16">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_FIRMA_RES_PAGO_JUST' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_firma_res_pago_just">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_NOT_RES_PAGO' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_not_res_pago">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_INF_INICIO_REQ_JUSTIF' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_inf_inicio_req_justif">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_INF_POST_ENMIENDA_JUSTIF' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_inf_post_enmienda_justif">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_FIRMA_REQUERIMIENTO_JUSTIFICACION' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_firma_requerimiento_justificacion">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_NOT_REQ_JUST' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_not_req_just">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REC_REQUERIMIENTO_JUSTIFICACION' | translate}}</mat-label>
                        <input matInput type="datetime-local" step="1" formControlName="fecha_REC_requerimiento_justificacion">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REF_REC_REQUERIMIENTO_JUSTIFICACION' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ref_REC_requerimiento_justificacion" maxlength="16">
                    </mat-form-field>
                </section>
                <section>
                    <h4>{{'ACTOSADMINISTRATIVOS.TITLE' | translate}}</h4>
                    <app-resolucion-de-pago-y-justificacion-adr-isba
                    [form]="form" [actualID]="actualID"
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-resolucion-de-pago-y-justificacion-adr-isba>
                </section>
                <section>
                    <h4 [innerHTML]="'FORM.REQUESTDOCUMENTATION' | translate"></h4>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'NO'"
                        [faseExped]="'Justificacion'"></app-document>
                </section>
            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span ngClass="exped-tab desestimiento-tab">{{'APP.DISCLAIMER' | translate}}</span>
            </ng-template>
            <mat-card ngClass="mat-card-desestimiento">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REC_DESESTIMIENTO' | translate}}</mat-label>
                        <input matInput type="datetime-local" step="1" formControlName="fecha_REC_desestimiento">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REF_REC_DESESTIMIENTO' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ref_REC_desestimiento" maxlength="16">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_FIRMA_RESOLUCION_DESESTIMIENTO' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_firma_resolucion_desestimiento">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_NOTIFICACION_DESESTIMIENTO' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_notificacion_desestimiento">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_PROPUESTA_REV' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_propuesta_rev">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_NOT_PR_REVOCACION' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_not_pr_revocacion">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_RESOLUCION_REV' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_resolucion_rev">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_NOT_R_REVOCACION' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_not_r_revocacion">
                    </mat-form-field>
                </section>
                <section>
                    <h4>{{'ACTOSADMINISTRATIVOS.TITLE' | translate}}</h4>
                    <app-resolucion-desestimiento-por-renuncia-adr-isba
                    [form]="form" [actualID]="actualID"
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-resolucion-desestimiento-por-renuncia-adr-isba>
                    <app-pr-revocacion-por-no-justificar-adr-isba
                    [form]="form" [actualID]="actualID"
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-pr-revocacion-por-no-justificar-adr-isba>
                    <app-resolucion-revocacion-por-no-justificar-adr-isba
                    [motivoRevocacion]="motivoRevocacion"
                    [form]="form" [actualID]="actualID"
                    [actualIdExp]="actualIdExp" [actualNif]="actualNif"
                    [actualConvocatoria]="actualConvocatoria"
                    [actualTipoTramite]="actualTipoTramite" [actualEmpresa]="actualEmpresa"></app-resolucion-revocacion-por-no-justificar-adr-isba>
                </section>
                <section>
                    <h4 [innerHTML]="'FORM.REQUESTDOCUMENTATION' | translate"></h4>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'NO'"
                        [faseExped]="'Desestimiento'"></app-document>
                </section>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</form>