<form [formGroup]="ilsForm" ngClass="form" (ngSubmit)="onSubmit()">
    <div class="example-action-buttons">
        <button matButton type="button" ngClass="btn-green btn" (click)="accordion().openAll()">{{ 'APP.EXPANDALL' | translate }}</button>
        <button matButton type="button" ngClass="btn-green btn" (click)="accordion().closeAll()">{{ 'APP.COLAPSEALL' | translate }}</button>
    </div>
    <mat-accordion ngClass="example-headers-align" multi>
        <!-- RGPD -->
        <mat-expansion-panel [expanded]="step() === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>{{'FORM.RGPDTITLE' | translate}}</h3>
                </mat-panel-title>
                <mat-panel-description>{{'FORM.RGPDDESCRIPTION' | translate}} <mat-icon>policy</mat-icon></mat-panel-description>
            </mat-expansion-panel-header>
            <section>
                <mat-checkbox formControlName="acceptRGPD">
                    <label>
                        {{'COMMON.RGPD-INFO.READ-AND-ACCEPTS.PART-1' | translate}}<abbr title="{{'COMMON.ACRONYMS.RGPD.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.RGPD.ACRONYM' | translate}}.</abbr><mat-icon data-icon="rgpd-icon" (click)="openDialog('300ms', '300ms', 'Sobre el RGPD', '../../../assets/data/clausulaProteccionDatos.html', '', '')">info</mat-icon>{{'COMMON.RGPD-INFO.READ-AND-ACCEPTS.PART-2' | translate}}<abbr title="{{'COMMON.ACRONYMS.ADR.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.ADR.ACRONYM' | translate}}</abbr>{{'COMMON.RGPD-INFO.READ-AND-ACCEPTS.PART-3' | translate}}<mat-icon data-icon="rgpd-info" (click)="openDialog('300ms', '300ms', 'Nuestra política de privacidad', '../../../assets/data/politica_privacidad.html', '', '')">info</mat-icon>
                    </label>
                </mat-checkbox>
                <section>
                    <dl>
                        <dt>{{'ILS.REQUIREDDOCINFO' | translate}}</dt>
                        <dd>{{'ILS.REQUIREDDOC1' | translate}}</dd>
                        <dd>{{'ILS.REQUIREDDOC2PART1' | translate}}<abbr title="{{'COMMON.ACRONYMS.BAT.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.BAT.ACRONYM' | translate}}</abbr> {{'ILS.REQUIREDDOC2PART2' | translate}}</dd>
                        <dd [innerHTML]="'ILS.REQUIREDDOC3' | translate"></dd>
                        <dd [innerHTML]="'ILS.REQUIREDDOC4' | translate"></dd>
                        <dd>{{'ILS.REQUIREDDOC5' | translate}}</dd>
                    </dl>
                    <dl>
                        <dt>{{'ILS.OPTIONALDOCINFO' | translate}}</dt>
                        <dd>{{'ILS.OPTIONALDOC1' | translate}}</dd>
                        <dd>{{'ILS.OPTIONALDOC2PART1' | translate}}<abbr title="{{'COMMON.ACRONYMS.CIF.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.CIF.ACRONYM' | translate}}</abbr>{{'ILS.OPTIONALDOC2PART2' | translate}}</dd>
                        <dd>{{'ILS.OPTIONALDOC3' | translate}}</dd>
                    </dl>

                    <dl>
                        <dt>
                            <strong>{{'ILS.AUTHORIZATIONPART1' | translate}}</strong>{{'ILS.AUTHORIZATIONPART2' | translate}}<abbr title="{{'COMMON.ACRONYMS.ADR.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.ADR.ACRONYM' | translate}}</abbr>{{'ILS.AUTHORIZATIONPART3' | translate}}<abbr title="{{'COMMON.ACRONYMS.ATIB.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.ATIB.ACRONYM' | translate}}</abbr>{{'ILS.AUTHORIZATIONPART4' | translate}}<abbr title="{{'COMMON.ACRONYMS.TGSS.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.TGSS.ACRONYM' | translate}}</abbr>,{{'ILS.AUTHORIZATIONPART5' | translate}}
                        </dt>
                        <dd><abbr title="{{'COMMON.ACRONYMS.NIF.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.NIF.ACRONYM' | translate}}</abbr>{{'ILS.AUTHORIZATIONDOC1' | translate}}</dd>
                        <dd>{{'ILS.AUTHORIZATIONDOC2' | translate}}<abbr title="{{'COMMON.ACRONYMS.ATIB.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.ATIB.ACRONYM' | translate}}</abbr>.</dd>
                        <dd>{{'ILS.AUTHORIZATIONDOC3' | translate}}<abbr title="{{'COMMON.ACRONYMS.TGSS.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.TGSS.ACRONYM' | translate}}</abbr>.</dd>
                    </dl>
                    <dl>
                        <dt>{{'ILS.NOTIFICATIONINFO' | translate}}</dt>
                        <dd>{{'ILS.NOTIFICATIONDOC1' | translate}}</dd>
                        <dd>{{'ILS.NOTIFICATIONDOC2' | translate}}</dd>
                    </dl>
                </section>
            </section>
        </mat-expansion-panel>

        <!-- Tipo de solicitante -->
        <mat-expansion-panel [disabled]="!rgpdAccepted" [expanded]="rgpdAccepted">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>{{'FORM.SOLICITORTYPE' | translate}}</h3>
                </mat-panel-title>
                <mat-panel-description>{{'FORM.ORGANIZATIONTYPE' | translate}} <mat-icon>corporate_fare</mat-icon></mat-panel-description>
            </mat-expansion-panel-header>
            <section ngClass="form applicant-type">
                <section>
                    <mat-radio-group formControlName="tipo_solicitante" (ngModelChange)="changeNIFValidator()">
                        <mat-radio-button value="autonomo">{{'FORM.SELFEMPLOYEDBUSINESS' | translate}}</mat-radio-button>
                        <mat-radio-button value="pequenya">{{'FORM.SMALLBUSINESSNAME' | translate}}</mat-radio-button>
                        <mat-radio-button value="mediana">{{'FORM.MEDIUMBUSINESSNAME' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </section>
                <section>
                    <p><strong>{{'FORM.SMALLBUSINESSNAME' | translate}}</strong>: {{'FORM.SMALLBUSINESSINFO' | translate}}</p>
                    <p><strong>{{'FORM.MEDIUMBUSINESSNAME' | translate}}</strong>: {{'FORM.MEDIUMBUSINESSINFO' | translate}}</p>
                </section>
            </section>
        </mat-expansion-panel>

        <!-- Datos personales -->
        <mat-expansion-panel [disabled]="!rgpdAccepted" [expanded]="rgpdAccepted">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>{{'FORM.SOLICITOR' | translate}}</h3>
                </mat-panel-title>
                <mat-panel-description>{{'FORM.SOLICITORDETAILS' | translate}} <mat-icon>person</mat-icon></mat-panel-description>
            </mat-expansion-panel-header>
            <section ngClass="form personal-data">
                <mat-form-field>
                    <mat-label *ngIf="businessType === 'autonomo'">{{'FORM.NIF' | translate}}</mat-label>
                    <mat-label *ngIf="businessType !== 'autonomo'">{{'FORM.CIF' | translate}}</mat-label>
                    <input matInput type="text" formControlName="nif" maxlength="9">
                    <mat-error *ngIf="ilsForm.get('nif')?.errors && businessType ==='autonomo'">{{'FORMERRORS.COMMON.NIF' | translate}}</mat-error>
                    <mat-error *ngIf="ilsForm.get('nif')?.errors && businessType !=='autonomo'">{{'FORMERRORS.COMMON.CIF' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'FORM.COMPANYNAME' | translate}}</mat-label>
                    <input matInput type="text" formControlName="empresa">
                    <mat-error *ngIf="ilsForm.get('empresa')?.errors">{{'FORMERRORS.COMMON.COMPANYNAME' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'FORM.ADDRESS' | translate}}</mat-label>
                    <input matInput type="text" formControlName="domicilio">
                    <mat-error *ngIf="ilsForm.get('domicilio')?.errors">{{'FORMERRORS.COMMON.ADDRESS' | translate}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'FORM.ZIPCODE' | translate}}</mat-label>
                    <input matInput (ngModelChange)="selectedValue()" type="text" formControlName="cpostal"
                        maxlength="5" minlength="5" [matAutocomplete]="auto" (blur)="cleanBlank($event)">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option.zipCode}} {{option.town}}</mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="ilsForm.get('cpostal')?.errors">{{'FORMERRORS.COMMON.ZIPCODE' |
                        translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'FORM.TOWN' | translate}}</mat-label>
                    <input matInput formControlName="localidad" readonly>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'FORM.CONTACTPHONE' | translate}}</mat-label>
                    <input matInput type="tel" formControlName="telefono" (blur)="cleanBlank($event)" minlength="9"
                        maxlength="9">
                    <mat-error *ngIf="ilsForm.get('telefono')?.errors">{{'FORMERRORS.COMMON.CONTACTPHONE' |
                        translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'FORM.SELECTIAE' | translate}}</mat-label>
                    <mat-select formControlName="iae">
                        <mat-option *ngFor="let cnae of actividadesCNAE;"
                            [value]="cnae.cnae">{{cnae.label_cas}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ilsForm.get('iae')?.errors">{{'FORMERRORS.COMMON.CNAECODE' |
                        translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.WEBSITE' | translate}}</mat-label>
                    <input matInput type="text" formControlName="sitio_web_empresa" (blur)="cleanBlank($event)">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.PRESENTATIONVIDEO' | translate}}</mat-label>
                    <input matInput type="text" formControlName="video_empresa" (blur)="cleanBlank($event)">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'FORM.NOMREPRESENTANTE' | translate}}</mat-label>
                    <input matInput type="text" formControlName="nombre_rep">
                    <mat-error
                        *ngIf="ilsForm.get('nombre_rep')?.errors">{{'FORMERRORS.COMMON.NAMEREPRESENTANTE'
                        | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'FORM.NIFREPRESENTANTE' | translate}}</mat-label>
                    <input matInput type="text" formControlName="nif_rep" minlength="9" maxlength="9">
                    <mat-error
                        *ngIf="ilsForm.get('nif_rep')?.errors">{{'FORMERRORS.COMMON.NIFREPRESENTANTE' |
                        translate}}</mat-error>
                </mat-form-field>
            </section>
        </mat-expansion-panel>

        <!-- Canal de notificaciones-->
        <mat-expansion-panel [disabled]="!rgpdAccepted" [expanded]="rgpdAccepted">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>{{'FORM.NOTIFICATIONCHANEL' | translate}}</h3>
                </mat-panel-title>
                <mat-panel-description>{{'FORM.NOTIFICATIONCHANELDESCRIPTION' | translate}} <mat-icon>email</mat-icon></mat-panel-description>
            </mat-expansion-panel-header>
            <section ngClass="form notification-channel">
                <section>
                    <p [innerHTML]="'FORM.NOTIFICATIONCHANELINFO' | translate"></p>
                </section>
                <section ngClass="inputs">
                    <mat-form-field>
                        <mat-label>{{'FORM.NOTIFICATIONMOBILE' | translate}}</mat-label>
                        <input matInput type="tel" formControlName="telefono_rep" (blur)="cleanBlank($event)"
                            maxlength="9">
                        <mat-error
                            *ngIf="ilsForm.get('telefono_rep')?.errors">{{'FORMERRORS.COMMON.NOTIFICATIONPHONE' |
                            translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'FORM.NOTIFICATIONMAIL' | translate}}</mat-label>
                        <input matInput type="email" formControlName="email_rep" (blur)="cleanBlank($event)">
                        <mat-error
                            *ngIf="ilsForm.get('email_rep')?.errors">{{'FORMERRORS.COMMON.NOTIFICATIONEMAIL' |
                            translate}}</mat-error>
                    </mat-form-field>
                </section>
            </section>
        </mat-expansion-panel>

        <!-- Autorizaciones-->
        <mat-expansion-panel [disabled]="!rgpdAccepted" [expanded]="rgpdAccepted">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>{{'FORM.AUTHORISATIONS' | translate}}</h3>
                </mat-panel-title>
                <mat-panel-description>{{'ILS.AUTHORIZATIONDESCRIPTION' | translate}} <mat-icon>gavel</mat-icon></mat-panel-description>
            </mat-expansion-panel-header>
            <section>
                <mat-checkbox formControlName="checkboxID" (change)="onCheckboxChange($event, 'file_enviardocumentoIdentificacion')">
                    {{'ILS.AUTHORIZATIONNIFPART1' | translate}}<abbr title="{{'COMMON.ACRONYMS.ADR.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.ADR.ACRONYM' | translate}}</abbr>{{'ILS.AUTHORIZATIONNIFPART2' | translate}}<abbr title="{{'COMMON.ACRONYMS.NIF.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.NIF.ACRONYM' | translate}}</abbr>{{'ILS.AUTHORIZATIONNIFPART3' | translate}}
                </mat-checkbox>
                <section *ngIf="ilsForm.get('checkboxID')?.value === false" ngClass="file-upload">
                    <label for="file_enviardocumentoIdentificacion">{{"FILES.NOTAUTHORIZED" | translate}}</label>
                    <input type="file" accept=".pdf" formControlName="file_enviardocumentoIdentificacion" (change)="onfile_enviardocumentoIdentificacionChange($event)">
                    <ul *ngIf="file_enviardocumentoIdentificacionToUpload.length > 0">
                        <li *ngFor="let file of file_enviardocumentoIdentificacionToUpload">{{file.name}} ({{file.size/1000}} KB)</li>
                    </ul>
                </section>

                <mat-checkbox formControlName="checkboxATIB" (change)="onCheckboxChange($event, 'file_certificadoATIB')">
                    <label>{{'ILS.AUTHORIZATIONATIBPART1' | translate}}<abbr title="{{'COMMON.ACRONYMS.ATIB.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.ATIB.ACRONYM' | translate}}</abbr>{{'ILS.AUTHORIZATIONATIBPART2' | translate}}</label>
                </mat-checkbox>
                <section *ngIf="ilsForm.get('checkboxATIB')?.value === false" ngClass="file-upload">
                    <label for="file_certificadoATIB">{{"FILES.NOTAUTHORIZED" | translate}}</label>
                    <input type="file" accept=".pdf" formControlName="file_certificadoATIB" (change)="onfile_certificadoATIBChange($event)">
                    <ul *ngIf="file_certificadoATIBToUpload.length > 0">
                        <li *ngFor="let file of file_certificadoATIBToUpload">{{file.name}} ({{file.size/1000}} KB)</li>
                    </ul>
                </section>
            </section>
        </mat-expansion-panel>

        <!-- Declaración responsable-->
        <mat-expansion-panel [disabled]="!rgpdAccepted" [expanded]="rgpdAccepted">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>{{'FORM.RESPONSIBLEDECLARATION' | translate}}</h3>
                </mat-panel-title>
                <mat-panel-description>{{'FORM.RESPONSIBLEDECLARATIONDESCRIPTION' | translate}} <mat-icon>menu_book</mat-icon></mat-panel-description>
            </mat-expansion-panel-header>
            <section ngClass="form declaration-checkboxes">
                <mat-checkbox formControlName="cumpleRequisitos_dec_resp"><label>1. {{'ILS.DECLARATION1' | translate}}</label></mat-checkbox>
                <mat-checkbox formControlName="epigrafeIAE_dec_resp"><label>2. {{'ILS.DECLARATION2' | translate}}</label></mat-checkbox>
                <mat-checkbox formControlName="registroIndustrialMinero_dec_resp"><label>3. {{'ILS.DECLARATION3' | translate}}</label></mat-checkbox>
                <mat-checkbox formControlName="cumpleNormativaSegInd_dec_resp"><label>4. {{'ILS.DECLARATION4' | translate}}</label></mat-checkbox>
            </section>
        </mat-expansion-panel>

        <!-- Documentación requerida y opcional-->
        <mat-expansion-panel [disabled]="!rgpdAccepted" [expanded]="rgpdAccepted">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>{{'FORM.DOCUMENTATIONTITLE' | translate}}</h3>
                </mat-panel-title>
                <mat-panel-description>{{'FORM.DOCUMENTATIONDESCRIPTION' | translate}} <mat-icon>attachment</mat-icon></mat-panel-description>
            </mat-expansion-panel-header>
                <section>
                    <p [innerHTML]="'FORM.DOCUMENTATIONINFOFORMAT' | translate"></p>
                    <ol>
                        <li [innerHTML]="'FORM.DOCUMENTATIONINFOCTRL' | translate"></li>
                        <li [innerHTML]="'FORM.DOCUMENTATIONINFOSHIFT' | translate"></li>
                    </ol>
            </section>
            <section ngClass="form documentation">
                <h4>{{'ILS.REQUIREDDOCUMENTATIONINFO' | translate}}</h4>
                <section ngClass="file-upload">
                    <label for="file_escritura_empresa">{{'ILS.CONSTITUTION' | translate}}</label>
                    <input #file_escritura_empresa formControlName="file_escritura_empresa" type="file" (change)="onfile_escritura_empresaChange($event)" accept=".pdf" multiple>
                    <mat-error *ngIf="ilsForm.get('file_escritura_empresa')?.errors && ilsForm.get('file_escritura_empresa')?.dirty">{{'FORMERRORS.COMMON.FILE' | translate}}</mat-error>
                    <ul *ngIf="file_escritura_empresaToUpload.length > 0">
                        <li *ngFor="let file of file_escritura_empresaToUpload">{{ file.name }} ({{file.size/1024 | number:'1.2-2':'es-ES'}} KB)</li>
                    </ul>
                </section>
                
                <section ngClass="file-upload">
                    <label for="file_certificadoIAE">{{'ILS.BATPART1' | translate}}<abbr title="{{'COMMON.ACRONYMS.BAT.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.BAT.ACRONYM' | translate}}</abbr>{{'ILS.BATPART2' | translate}}</label>
                    <input #file_certificadoIAE formControlName="file_certificadoIAE" type="file" (change)="onfile_certificadoIAEChange($event)" accept=".pdf" multiple>
                    <mat-error *ngIf="ilsForm.get('file_certificadoIAE')?.errors && ilsForm.get('file_certificadoIAE')?.dirty">{{'FORMERRORS.COMMON.FILE' | translate}}</mat-error>
                    <ul *ngIf="file_certificadoIAEToUpload.length > 0">
                        <li *ngFor="let file of file_certificadoIAEToUpload">{{ file.name }} ({{file.size/1024 | number:'1.2-2':'es-ES'}} KB)</li>
                    </ul>
                </section>
            
                <!-- Radio -->
                <section>
                    <p>{{'ILS.CHOOSEOPTION' | translate}}</p>
                    <mat-radio-group formControlName="radioGroupFile">
                        <mat-radio-button value="option1">{{'ILS.INPUTRADIO1' | translate}}</mat-radio-button>
                        <section ngClass="file-upload">
                            <label for="file_informeResumenIls">{{'ILS.SUMMARY' | translate}}</label>
                            <input #file_informeResumenIls formControlName="file_informeResumenIls" type="file" (change)="onfile_informeResumenIlsChange($event)" accept=".pdf" multiple>
                            <mat-error *ngIf="ilsForm.get('file_informeResumenIls')?.errors && ilsForm.get('file_informeResumenIls')?.dirty">{{'FORMERRORS.COMMON.FILE' | translate}}</mat-error>
                            <ul *ngIf="file_informeResumenIlsToUpload.length > 0">
                                <li *ngFor="let file of file_informeResumenIlsToUpload">{{ file.name }} ({{file.size/1024 | number:'1.2-2':'es-ES'}} KB)</li>
                            </ul>
                        </section>
                        <section ngClass="file-upload">
                            <label for="file_informeInventarioIls">{{'ILS.INVENTORY' | translate}}</label>
                            <input #file_informeInventarioIls formControlName="file_informeInventarioIls" type="file" (change)="onfile_informeInventarioIlsChange($event)" accept=".pdf" multiple>
                            <mat-error *ngIf="ilsForm.get('file_informeInventarioIls')?.errors && ilsForm.get('file_informeInventarioIls')?.dirty">{{'FORMERRORS.COMMON.FILE' | translate}}</mat-error>
                            <ul *ngIf="file_informeInventarioIlsToUpload.length > 0">
                                <li *ngFor="let file of file_informeInventarioIlsToUpload">{{ file.name }} ({{file.size/1024 | number:'1.2-2':'es-ES'}} KB)</li>
                            </ul>
                        </section>
                        <mat-radio-button value="option2">{{'ILS.INPUTRADIO2' | translate}}</mat-radio-button>
                    </mat-radio-group>
                    <section ngClass="file-upload">
                        <label for="file_certificado_verificacion_ISO">{{'ILS.ISOVERIFICATION' | translate}}</label>
                        <input #file_certificado_verificacion_ISO formControlName="file_certificado_verificacion_ISO" type="file" (change)="onfile_certificado_verificacion_ISOChange($event)" accept=".pdf" multiple>
                        <mat-error *ngIf="ilsForm.get('file_certificado_verificacion_ISO')?.errors && ilsForm.get('file_certificado_verificacion_ISO')?.dirty">{{'FORMERRORS.COMMON.FILE' | translate}}</mat-error>
                        <ul *ngIf="file_certificado_verificacion_ISOToUpload.length > 0">
                            <li *ngFor="let file of file_certificado_verificacion_ISOToUpload">{{ file.name }} ({{file.size/1024 | number:'1.2-2':'es-ES'}} KB)</li>
                        </ul>
                    </section>
                </section>

                <section ngClass="file-upload">
                    <label for="file_modeloEjemploIls">{{'ILS.GREENHOUSEREDUCTION' | translate}}</label>
                    <input #file_modeloEjemploIls formControlName="file_modeloEjemploIls" type="file" (change)="onfile_modeloEjemploIlsChange($event)" accept=".pdf" multiple>
                    <mat-error *ngIf="ilsForm.get('file_modeloEjemploIls')?.errors && ilsForm.get('file_modeloEjemploIls')?.dirty">{{'FORMERRORS.COMMON.FILE' | translate}}</mat-error>
                    <ul *ngIf="file_modeloEjemploIlsToUpload.length > 0">
                        <li *ngFor="let file of file_modeloEjemploIlsToUpload">{{ file.name }} ({{file.size/1024 | number:'1.2-2':'es-ES'}} KB)</li>
                    </ul>
                </section>

                <section ngClass="file-upload">
                    <label for="file_certificado_itinerario_formativo">{{'ILS.TRAININGITINERARY' | translate}}</label>
                    <input #file_certificado_itinerario_formativo formControlName="file_certificado_itinerario_formativo" type="file" (change)="onfile_certificado_itinerario_formativoChange($event)" accept=".pdf" multiple>
                    <mat-error *ngIf="ilsForm.get('file_certificado_itinerario_formativo')?.errors && ilsForm.get('file_certificado_itinerario_formativo')?.dirty">{{'FORMERRORS.COMMON.FILE' | translate}}</mat-error>
                    <ul *ngIf="file_certificado_itinerario_formativoToUpload.length > 0">
                        <li *ngFor="let file of file_certificado_itinerario_formativoToUpload">{{ file.name }} ({{file.size/1024 | number:'1.2-2':'es-ES'}} KB)</li>
                    </ul>
                </section>
            </section>
            <section>
                <h4>{{'ILS.OPTIONALDOCUMENTATIONINFO' | translate}}</h4>

                <section ngClass="file-upload">
                    <label for="file_memoriaTecnica">{{'ILS.TECHNICALMEMORY' | translate}}</label>
                    <input #file_memoriaTecnica formControlName="file_memoriaTecnica" type="file" (change)="onfile_memoriaTecnicaChange($event)" accept=".pdf" multiple>
                    <mat-error *ngIf="ilsForm.get('file_memoriaTecnica')?.errors && ilsForm.get('file_memoriaTecnica')?.dirty">{{'FORMERRORS.COMMON.FILE' | translate}}</mat-error>
                    <ul *ngIf="file_memoriaTecnicaToUpload.length > 0">
                        <li *ngFor="let file of file_memoriaTecnicaToUpload">{{ file.name }} ({{file.size/1024 | number:'1.2-2':'es-ES'}} KB)</li>
                    </ul>
                </section>

                <section ngClass="file-upload">
                    <label for="file_nifEmpresa">{{'ILS.CIFPART1' | translate}}<abbr title="{{'COMMON.ACRONYMS.CIF.FULL-PHRASE' | translate}}">{{'COMMON.ACRONYMS.CIF.ACRONYM' | translate}}</abbr>{{'ILS.CIFPART2' | translate}}</label>
                    <input #file_nifEmpresa formControlName="file_nifEmpresa" type="file" (change)="onfile_nifEmpresaChange($event)" accept=".pdf" multiple>
                    <mat-error *ngIf="ilsForm.get('file_nifEmpresa')?.errors && ilsForm.get('file_nifEmpresa')?.dirty">{{'FORMERRORS.COMMON.FILE' | translate}}</mat-error>
                    <ul *ngIf="file_nifEmpresaToUpload.length > 0">
                        <li *ngFor="let file of file_nifEmpresaToUpload">{{ file.name }} ({{file.size/1024 | number:'1.2-2':'es-ES'}} KB)</li>
                    </ul>
                </section>

                <section ngClass="file-upload">
                    <label for="file_logotipoEmpresaIls">{{'ILS.LOGO' | translate}}</label>
                    <input #file_logotipoEmpresaIls formControlName="file_logotipoEmpresaIls" type="file" (change)="onfile_logotipoEmpresaIlsChange($event)" accept=".webp, .jpeg, .svg" multiple>
                    <mat-error *ngIf="ilsForm.get('file_logotipoEmpresaIls')?.errors && ilsForm.get('file_logotipoEmpresaIls')?.dirty">{{'FORMERRORS.COMMON.FILE' | translate}}</mat-error>
                    <ul *ngIf="file_logotipoEmpresaIlsToUpload.length > 0">
                        <li *ngFor="let file of file_logotipoEmpresaIlsToUpload">{{ file.name }} ({{file.size/1024 | number:'1.2-2':'es-ES'}} KB)</li>
                    </ul>
                </section>
            </section>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-form-field style="display:none">
        <input matInput type="text" formControlName="tipo_tramite">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="ilsForm.invalid || submitting">{{'FORM.SEND' | translate}}</button>
</form>