:host {
  display: block;
  max-width: 1200px;
  margin: 2rem auto;
  /*  padding: 2rem; */
  background-color: #f9f9f9;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  grid-template-columns: 1fr;
}

.btn-green {
  background-color: #007c5a;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #005f44;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.btn {
  margin-bottom: 0.5rem;
  background-color: transparent;
  color: #007c5a;
  &:hover {
    color: #fff;
  }
}

mat-icon {
  margin-left: 5px;
  &:hover {
    cursor: pointer;
    background-color: #0098cb;
  }
}

ol {
  li {
    margin-top: 0.5rem;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;

  li {
    background-color: #e6f2ef;
    color: #000000;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    font-size: 0.95rem;
  }
}

dl {
  dt,
  dd {
    margin-top: 0.5rem;
  }
}

div.ng-invalid.ng-touched {
  color: #d9534f;
  font-size: 0.875rem;
}

section.form {
  display: grid;
  &.applicant-type {
    grid-template-columns: 1fr 1fr;
  }

  &.personal-data,
  &.notification-channel {
    row-gap: 15px;
  }

  &.notification-channel {
    row-gap: 15px;
    .inputs {
      display: grid;
      row-gap: 15px;
    }
  }

  &.authorization-checkboxes {
    row-gap: 10px;
  }

  &.declaration-checkboxes {
    align-items: baseline;
  }

  &.documentation {
    row-gap: 10px;
  }
}

.file-input {
  display: grid;
}

.afterFormChange {
  display: grid;
  background-color: #ffefd5;
  padding: 1.1rem;
  margin: 1.1rem;
}

.file-upload {
  margin: 1rem 0;
  padding: 1rem;
  border: 2px dashed #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #00405e;
  width: 90%;
  &:hover {
    cursor: pointer;
  }
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  input[type="file"] {
    display: block;
    padding: 0.5rem;
    font-size: 0.95rem;
    color: #333;

    &::file-selector-button {
      background-color: #3f51b5;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #303f9f;
      }
    }
  }
}

.documento-en-adr {
  background-color: #e7ecb7;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 10px;

  .mat-checkbox-frame {
    border-color: #4caf50;
  }

  .mat-checkbox-background {
    background-color: #4caf50;
  }

  .mat-checkbox-checkmark-path {
    stroke: white;
  }
}
