:host {
  display: block;
  padding: 2rem;
  background-color: #f9f9fb;
  font-family: 'Segoe UI', Roboto, sans-serif;
  color: #333;
}

mat-card {
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;

  h2 {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #2c3e50;
    text-align: center;
  }
}

.detalle-formulario {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Tres columnas fijas
  gap: 1rem;

  mat-form-field {
    width: 100%;

    input[readonly] {
      background-color: #f3f6fa;
      color: #555;
      cursor: default;
    }
  }
}

.autorizaciones, .documentos-en-ADR {
  border: 1px solid #0098cb;
  border-radius: 5px;
  background-color: #f8f4e9;
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 1rem;
}

.detail-tab {
  background-color: #ffcc80;
  padding: .5rem 2rem;
  border-radius: 4px;
}


@media (max-width: 600px) {
  mat-card {
    padding: 1rem;

    h2 {
      font-size: 1.3rem;
    }
  }

  .detalle-formulario {
    grid-template-columns: 1fr;
  }
}
