:host {
  display: block;
  padding: 1.5rem;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  mat-form-field {
    flex: 1 1 250px;
  }

button[type="submit"],
button[type="button"] {
  height: 56px;
}
}

mat-progress-bar {
  margin-bottom: 1rem;
}

// Filas
.mat-row {
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #f9fafb; // efecto hover suave
  }
}

// Celdas
.mat-cell {
  text-align: left;
  justify-content: flex-start;
  padding: 12px 16px;
  border-bottom: 1px solid #e5e7eb;
}

// Enlaces personalizados
.custom-link {
  color: #1976d2; // azul corporativo
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #0d47a1;
  }
}

// Texto auxiliar
.small-text {
  font-size: 0.8rem;
}

// Cabecera destacada
th {
  background-color: #0098ce!important;
  color: #fff;
  font-weight: 700;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

// Clase para indicar que se enviará en futuro
.future-send {
  background-color: #e3f2fd;   // azul muy claro
  color: #0d47a1;              // azul corporativo
  font-weight: 600;
  border-left: 4px solid #1976d2;
  padding: 8px 12px;
  border-radius: 4px;

  &::before {
    content: "⏳ ";            // icono reloj de arena
  }
}

// Clase para indicar que ya se ha enviado en pasado
.past-send {
  background-color: #e8f5e9;   // verde muy claro
  color: #2e7d32;              // verde corporativo
  font-weight: 600;
  border-left: 4px solid #43a047;
  padding: 8px 12px;
  border-radius: 4px;

  &::before {
    content: "✔️ ";            // icono check
  }
}


.filtros-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: stretch;

  .form-actions {
    display: flex;
    align-items: stretch;
    gap: 8px;

    button {
      height: 56px;
      white-space: nowrap;
    }
  }
}

.custom-link {
  color: #00405e;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;

  // efecto de subrayado animado
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #0098ce;
    transition: width 0.3s ease;
  }

  &:hover {
    color: #0098ce;
    cursor: pointer;
    &::after {
      width: 100%;
    }
  }

  // opcional: efecto de "glow" al pasar el ratón
  &:hover {
    text-shadow: 0 0 6px rgba(25, 118, 210, 0.6);
  }
}