<form [formGroup]="form" (ngSubmit)="loadExpedientes()" class="filtros-form">
  <mat-form-field appearance="outline">
    <mat-label>{{'FORM.CONVOCATORIA' | translate}}</mat-label>
    <mat-select formControlName="convocatoria">
      <mat-option *ngFor="let conv of uniqueConvocatorias" [value]="conv">{{ conv }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{'FORM.TIPOTRAMITE' | translate}}</mat-label>
    <mat-select formControlName="tipoTramite" multiple>
      <mat-option *ngFor="let tipo of uniqueTiposTramite" [value]="tipo">{{ tipo }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Nuevo situaciones-->
  <mat-form-field appearance="outline">
    <mat-label>{{'FORM.SITUACION' | translate}}</mat-label>
    <mat-select formControlName="situacion" multiple>
      <ng-container *ngFor="let group of uniqueSituaciones">
        <!-- Sin subgrupos -->
         <mat-optgroup *ngIf="!group.subgroup" [label]="group.name | translate" style="font-weight: bolder;">
          <mat-option *ngFor="let option of group.options" [value]="option.value">
            {{option.label | translate}}
          </mat-option>
         </mat-optgroup>
          <!-- Con subgrupos -->
         <ng-container *ngIf="group.subgroup">
          <mat-optgroup [label]="group.name | translate" style="font-weight: bolder;">
            <ng-container *ngFor="let subgroup of group.subgroup" style="text-decoration: underline;">
              <mat-optgroup [label]="subgroup.name | translate">
                <mat-option *ngFor="let option of subgroup.options" [value]="option.value">
                  {{option.label | translate}}
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-optgroup>
         </ng-container>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="busqueda-form">
  <mat-label>{{'FORM.BUSCARPOR' | translate}}</mat-label>
  <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtrar por solicitante, importe, etc.">
</mat-form-field>

<section class="form-actions">
  <button mat-raised-button color="accent" type="submit">{{'FORM.BUSCAR' | translate}}</button> 
   <button
    mat-raised-button
    [color]="filtrosAplicados ? 'primary' : ''"
    type="button"
    (click)="limpiarFiltros()"
  >{{'FORM.LIMPIARFILTROS' | translate}}</button>
</section>

</form>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-paginator [pageSizeOptions]="[75, 100, 150]" showFirstLastButtons></mat-paginator>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2" >
  <ng-container matColumnDef="fecha_completado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha completado </th>
    <td mat-cell *matCellDef="let item">{{ item.fecha_completado || item.fecha_solicitud | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
  </ng-container>

  <ng-container matColumnDef="tipo_tramite">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Línea de trámite </th>
    <td mat-cell *matCellDef="let item" ngClass="linea-xecs"> {{ item.tipo_tramite }} </td>
  </ng-container>

  <ng-container matColumnDef="idExp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expediente </th>
    <td mat-cell *matCellDef="let item"><a ngClass="custom-link" [routerLink]="['/xecs-detail-exped', item.id]">{{ item.idExp }}/{{ item.convocatoria }}</a></td>
  </ng-container>

  <ng-container matColumnDef="empresa">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Solicitante </th>
    <td mat-cell *matCellDef="let item"> {{ item.empresa }} </td>
  </ng-container>

  <ng-container matColumnDef="importeAyuda">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Importe</th>
    <td mat-cell *matCellDef="let item"> {{ item.importeAyuda | currency:'EUR':'symbol':'1.2-2':'es' }} </td>
  </ng-container>

  <ng-container matColumnDef="ordenDePago">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Orden de pago</th>
    <td mat-cell *matCellDef="let item"> {{ item.ordenDePago }} </td>
  </ng-container>

  <ng-container matColumnDef="empresa_consultor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa del consultor </th>
    <td mat-cell *matCellDef="let item">{{ item.empresa_consultor }}</td>
  </ng-container>

  <ng-container matColumnDef="nom_consultor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del consultor</th>
    <td mat-cell *matCellDef="let item"> {{ item.nom_consultor }} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_not_propuesta_resolucion_def">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Res. de concesión</th>
    <td mat-cell *matCellDef="let item">{{ item.fecha_not_propuesta_resolucion_def | date:'yyyy/MM/dd' }}</td>
  </ng-container>

  <ng-container matColumnDef="situacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Situación</th>
    <td mat-cell *matCellDef="let item" [ngClass]="situacionClass(item.situacion)">

    <ng-container [ngSwitch]="item.situacion">
      <!-- Caso emitirIFPRProvPago -->
      <ng-container *ngSwitchCase="'emitirIFPRProvPago'">
        <strong>{{ ('SITUATIONS.GENERAL.' + item.situacion) | translate }}</strong><br>
        Notificada el {{ item.fecha_not_propuesta_resolucion_prov }}<br>
        <span class="small-text">La PR Definitiva  {{('SITUATIONS.GENERAL.' + getSituacionSuffix(item).text) | translate}}<br> s'enviarà el {{ item.PRDefinitivaDate }}</span><br><br>
        <span [ngClass]="{
          'positive-diff': item.PRDefinitivarestingDays > 0,
          'negative-diff': item.PRDefinitivarestingDays < 0,
          'indeterminate-diff': !item.PRDefinitivarestingDays && item.PRDefinitivarestingDays !== 0
          }">
          {{ item.PRDefinitivarestingDays !== null && item.PRDefinitivarestingDays !== undefined 
                ? 'Resten '+item.PRDefinitivarestingDays +' dies naturals'
                : '**Indeterminat**' }}
        </span>
      </ng-container>

      <!-- Caso pendienteJustificar -->
      <ng-container *ngSwitchCase="'pendienteJustificar'">
        <strong>{{ ('SITUATIONS.GENERAL.' + item.situacion) | translate }}</strong><br>
        <span class="small-text">
          Data max. justificació: {{ item.fecha_not_propuesta_resolucion_def !== '' ? item.fecha_limite_justificacion : 'No indicada' }}
        </span><br><br>

        <span [ngClass]="{
          'positive-diff': item.justificacionRestingDays > 0,
          'negative-diff': item.justificacionRestingDays < 0,
          'indeterminate-diff': item.fecha_limite_justificacion === ''
          }">
          {{ item.fecha_limite_justificacion !== '' ? 'Resten '+item.justificacionRestingDays+' dies naturals' : '**Indeterminat**' }}
        </span>
      </ng-container>

      <!-- Caso notificadoIFPRProvPago -->
      <ng-container *ngSwitchCase="'notificadoIFPRProvPago'">
        <strong>{{ ('SITUATIONS.GENERAL.' + item.situacion) | translate }}</strong><br>
        {{('SITUATIONS.GENERAL.' + getSituacionSuffix(item).text) | translate}}<br>
        <span class="small-text">el: {{ item.fecha_not_propuesta_resolucion_prov !== '' ? item.fecha_not_propuesta_resolucion_prov : 'No indicada' }}</span><br>
        <span [ngClass]="{
          'positive-diff': item.fechaNotPRDefRestingDays > 0,
          'negative-diff': item.fechaNotPRDefRestingDays < 0,
          'indeterminate-diff': item.fecha_not_propuesta_resolucion_prov === ''
          }">
          {{ item.fecha_not_propuesta_resolucion_prov !== '' ? 'Resten '+item.fechaNotPRDefRestingDays+' dies naturals' : '**Indeterminat**' }}
        </span>
      </ng-container>

      <!-- Caso por defecto -->
      <ng-container *ngSwitchDefault>{{item.situacion}}
       <strong>{{('SITUATIONS.GENERAL.' + item.situacion) | translate }}</strong>
      </ng-container>      

    </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>