header {
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dee2e6;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    .main-menu-container {
      display: flex;
      align-items: center;

      button.main-menu {
        margin-right: 1rem;
      }
    }

    .right-menu-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;

      button[mat-icon-button] {
        margin-left: auto;
      }
    }
  }

  .language-form-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;

    .toggle-container {
      display: flex;
      align-items: center;
    }

    .select-container {
      min-width: 200px;

      mat-form-field {
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 992px) { 
  ul {
    grid-template-columns: 1fr;
  }
}