<header>
  <button matButton [matMenuTriggerFor]="aboveMenu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <h2>{{ 'HEADER.TITLE' | translate }}</h2>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
            <a mat-menu-item class="nav-link btn" [routerLink]="['home']">Home</a>
    
            <a mat-menu-item class="nav-link btn" [routerLink]="['xecs-grant-subsidies-application-form']">{{ 'HEADER.XECSAPPFORM' | translate }}</a>
    
            <a mat-menu-item class="nav-link btn" [routerLink]="['isba-grant-subsidies-application-form']">{{ 'HEADER.ISBAAPPFORM' | translate }}</a>
 
            <a mat-menu-item class="nav-link btn" [routerLink]="['ils-grant-subsidies-application-form']">{{ 'HEADER.ILSAPPFORM' | translate }}</a>
      </div>
  </nav> 
</mat-menu>
  <select (change)="onLanguageChange($event)">
    <option value="es">Castellano</option>
    <option value="ca">Català</option>
    <option value="en">English</option>
  </select>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
       <h1>{{ 'HEADER.TITLE' | translate }}</h1>
      <section class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" [routerLink]="['xecs-grant-subsidies-application-form']">{{ 'HEADER.XECSAPPFORM' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" [routerLink]="['isba-grant-subsidies-application-form']">{{ 'HEADER.ISBAAPPFORM' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" [routerLink]="['ils-grant-subsidies-application-form']">{{ 'HEADER.ILSAPPFORM' | translate }}</a>
          </li>
        </ul>
      </section>
    </div>
  <select (change)="onLanguageChange($event)">
    <option value="es">Castellano</option>
    <option value="ca">Català</option>
    <option value="en">English</option>
  </select>
  </nav>  -->
</header>