<section class="home-container">
  <h1>{{ 'HOME.WELCOME' | translate }}</h1>
  <ul>
    <li [innerHTML]="'HOME.WELCOME_P1' | translate"></li>
    <li [innerHTML]="'HOME.WELCOME_P2' | translate"></li>
    <li [innerHTML]="'HOME.WELCOME_P3' | translate" ngClass="xecs"></li>
    <li [innerHTML]="'HOME.WELCOME_P4' | translate" ngClass="isba"></li>
    <li [innerHTML]="'HOME.WELCOME_P5' | translate" ngClass="ils"></li>
  </ul>
  <!-- <a routerLink="/solicitud" class="btn">Iniciar Solicitud</a> -->
</section>

<section>
<div *ngIf="loading">Cargando estadísticas...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="!loading && !error">
  <mat-card *ngFor="let conv of estadisticas" class="convocatoria-card">
    <mat-card-header>
      <mat-card-title>Convocatoria {{ conv.convocatoria }}</mat-card-title>
    </mat-card-header>

<mat-card-content>
  <div *ngFor="let prog of conv.programas">
    <h3>{{ prog.tipo_tramite }}</h3>
    <table mat-table [dataSource]="prog.dataSource" class="mat-elevation-z8">
      <!-- Situación Column -->
      <ng-container matColumnDef="situacion">
        <th mat-header-cell *matHeaderCellDef>Situación</th>
        <td mat-cell *matCellDef="let element">{{('SITUATIONS.GENERAL.' + element.situacion) | translate}}</td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{ element.total }}</td>
      </ng-container>

      <!-- Total Importe Column -->
      <ng-container matColumnDef="total_importe">
        <th mat-header-cell *matHeaderCellDef>Total Importe</th>
        <td mat-cell *matCellDef="let element">{{ element.total_importe | number:'1.2-2' }} €</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row 
          *matRowDef="let row; columns: displayedColumns;" 
          [ngClass]="{'highlight-finalizado': row.situacion === 'Finalizado'}">
      </tr>

      <!-- Footer Totals -->
      <tr class="totals-row">
        <td>Total</td>
        <td>{{ getTotal(prog.dataSource.data, 'total') }}</td>
        <td>{{ getTotal(prog.dataSource.data, 'total_importe') | number:'1.2-2' }}</td>
      </tr>
    </table>
    <hr>
  </div>
</mat-card-content>

  </mat-card>
</div>

</section>
