<section ngClass="title-container">
    <h3>{{ 'FORM.EXPEDIENT' | translate }}: {{actualIdExp}}/{{actualConvocatoria}} ({{actualTipoTramite}}) {{actualEmpresa}} - {{actualNif}}</h3>
</section>
<form [formGroup]="form" ngClass="detalle-formulario">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab>
            <ng-template mat-tab-label>
                <span ngClass="exped-tab detail-tab">{{'APP.DETAIL' | translate}}</span>
            </ng-template>
            <mat-card ngClass="mat-card-detalle">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.SOLICITOR' | translate}}</mat-label>
                        <input matInput type="text" formControlName="empresa">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label *ngIf="businessType === 'autonomo'">{{'FORM.NIF' | translate}}</mat-label>
                        <mat-label *ngIf="businessType !== 'autonomo'">{{'FORM.CIF' | translate}}</mat-label>
                        <input matInput type="text" formControlName="nif" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REQUESTDATE' | translate}}</mat-label>
                        <input matInput type="datetime-local" step="1" formControlName="fecha_solicitud" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.PROCESSLINE' | translate}}</mat-label>
                        <input matInput formControlName="tipo_tramite" readonly>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.NOTIFICATIONMOBILE' | translate}}</mat-label>
                        <input matInput type="tel" formControlName="telefono_rep" maxlength="9" minlength="9">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.NOTIFICATIONMAIL' | translate}}</mat-label>
                        <input matInput type="email" formControlName="email_rep">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.ADDRESS' | translate}}</mat-label>
                        <input matInput type="text" formControlName="domicilio">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.TOWN' | translate}}</mat-label>
                        <input matInput type="text" formControlName="localidad">
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.ZIPCODE' | translate}}</mat-label>
                        <input matInput type=text formControlName="cpostal" maxlength="5" minlength="5">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.CONTACTPHONE' | translate}}</mat-label>
                        <input matInput type="tel" formControlName="telefono" maxlength="9" minlength="9">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.CNAE' | translate}}</mat-label>
                        <input matInput formControlName="iae">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.NOMREPRESENTANTE' | translate}}</mat-label>
                        <input matInput type="text" formControlName="nombre_rep">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.NIFREPRESENTANTE' | translate}}</mat-label>
                        <input matInput type=text formControlName="nif_rep" maxlength="9" minlength="9">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.ASSIGNEDTECHNICIAN' | translate}}</mat-label>
                        <input matInput formControlName="tecnicoAsignado">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.SITUATION' | translate}}</mat-label>
                        <input matInput formControlName="situacion">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.WEBSITEDETAILS' | translate}}</mat-label>
                        <input matInput type="url" formControlName="sitio_web_empresa">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.VIDEODETAILS' | translate}}</mat-label>
                        <input matInput type="url" formControlName="video_empresa">
                    </mat-form-field>
                </section>
                <section>
                    <h4 [innerHTML]="'FORM.REQUIREDDOCUMENTATIONDETAILS' | translate"></h4>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'SI'"></app-document>
                    <h4 [innerHTML]="'FORM.OPTIONALDOCUMENTATIONDETAILS' | translate"></h4>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'NO'"></app-document>
                </section>
            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span ngClass="exped-tab solicitud-tab">{{'APP.REQUEST' | translate}}</span>
            </ng-template>
            <mat-card ngClass="mat-card-solicitud">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REC' | translate}}</mat-label>
                        <input matInput type="datetime-local" step="1" formControlName="fecha_REC">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REF_REC' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ref_REC" maxlength="16">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REC_ENMIENDA' | translate}}</mat-label>
                        <input matInput type="datetime-local" step="1" formControlName="fecha_REC_enmienda">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REF_REC_ENMIENDA' | translate}}</mat-label>
                        <input matInput type=text formControlName="ref_REC_enmienda" maxlength="16">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REQUERIMIENTO' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_requerimiento">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_REQUERIMIENTO_NOTIF' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_requerimiento_notif">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FECHA_MAXIMA_ENMIENDA' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_maxima_enmienda">
                    </mat-form-field>
                </section>
                <section>
                    <h4>{{'ACTOSADMINISTRATIVOS.TITLE' | translate}}</h4>
                    <app-requerimiento-ils 
                    [form]="form"
                    [actualID]="actualID" [actualIdExp]="actualIdExp"
                    [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria"
                    [actualEmpresa]="actualEmpresa" [actualTipoTramite]="actualTipoTramite" [motivoRequerimiento]="motivoRequerimiento"></app-requerimiento-ils>
                    <app-resol-desestimiento-no-enmendar-ils
                    [form]="form"
                    [actualID]="actualID" [actualIdExp]="actualIdExp"
                    [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria"
                    [actualEmpresa]="actualEmpresa" [actualTipoTramite]="actualTipoTramite"></app-resol-desestimiento-no-enmendar-ils>
                </section>
                <section>
                    <h4 [innerHTML]="'FORM.REQUESTDOCUMENTATION' | translate"></h4>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'NO'" [faseExped]="'Solicitud'"></app-document>
                </section>
            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span ngClass="exped-tab adhesion-tab">{{'APP.ADHESION' | translate}}</span>
            </ng-template>
            <mat-card ngClass="mat-card-adhesion">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.FAVORABLE-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_infor_fav">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.UNFAVORABLE-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_infor_desf">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.RESOLUTION-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_resolucion">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.RESOLUTION-NOTIFICATION' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_notificacion_resolucion">
                    </mat-form-field>
                </section>
                <section>
                    <h4>{{'ACTOSADMINISTRATIVOS.TITLE' | translate}}</h4>
                    <app-informe-favorable-con-requerimiento-ils
                    [form]="form"
                    [actualID]="actualID" [actualIdExp]="actualIdExp"
                    [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria"
                    [actualEmpresa]="actualEmpresa" [actualTipoTramite]="actualTipoTramite"></app-informe-favorable-con-requerimiento-ils>
                    <app-informe-favorable-ils
                    [form]="form"
                    [actualID]="actualID" [actualIdExp]="actualIdExp"
                    [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria"
                    [actualEmpresa]="actualEmpresa" [actualTipoTramite]="actualTipoTramite"></app-informe-favorable-ils>
                    <app-informe-desfavorable-con-requerimiento-ils
                    [form]="form"
                    [actualID]="actualID" [actualIdExp]="actualIdExp"
                    [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria"
                    [actualEmpresa]="actualEmpresa" [actualTipoTramite]="actualTipoTramite"></app-informe-desfavorable-con-requerimiento-ils>
                    <app-resol-denegacion-con-requerimiento-ils
                    [form]="form"
                    [actualID]="actualID" [actualIdExp]="actualIdExp"
                    [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria"
                    [actualEmpresa]="actualEmpresa" [actualTipoTramite]="actualTipoTramite"></app-resol-denegacion-con-requerimiento-ils>
                    <app-resol-concesion-adhesion-ils
                    [form]="form"
                    [actualID]="actualID" [actualIdExp]="actualIdExp"
                    [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria"
                    [actualEmpresa]="actualEmpresa" [actualTipoTramite]="actualTipoTramite"></app-resol-concesion-adhesion-ils>
                    <app-resol-concesion-adhesion-con-requerimiento-ils
                    [form]="form"
                    [actualID]="actualID" [actualIdExp]="actualIdExp"
                    [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria"
                    [actualEmpresa]="actualEmpresa" [actualTipoTramite]="actualTipoTramite"></app-resol-concesion-adhesion-con-requerimiento-ils>
                </section>
                <section>
                    <h4 [innerHTML]="'FORM.REQUESTDOCUMENTATION' | translate"></h4>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'NO'" [faseExped]="'Adhesion'"></app-document>
                </section>
            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span ngClass="exped-tab seguimiento-tab">{{'APP.TRACKING' | translate}}</span>
            </ng-template>
            <mat-card ngClass="mat-card-seguimiento">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.ADHESION-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_adhesion_ils">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.TRACKING-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_seguimiento_adhesion_ils">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.PRESENTATION-DEADLINE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_limite_presentacion">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REC-REPORT-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_rec_informe_seguimiento">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REC-REPORT-REF' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ref_REC_informe_seguimiento">
                    </mat-form-field>
                </section>
                <section>
                    <h4>{{'ACTOSADMINISTRATIVOS.TITLE' | translate}}</h4>
                    <mat-accordion ngClass="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{'ACTOSADMINISTRATIVOS.MODELOSEGUIMIENTO' | translate}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <button mat-raised-button color="accent" (click)="enableEdit()">Generar</button>
                        </mat-expansion-panel>
                    </mat-accordion>
                </section>
                <section>
                    <h4 [innerHTML]="'FORM.REQUESTDOCUMENTATION' | translate"></h4>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'NO'"
                        [faseExped]="'Seguimiento'"></app-document>
                </section>
            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span ngClass="exped-tab renovacion-tab">{{'APP.RENOVATION' | translate}}</span>
            </ng-template>
            <mat-card ngClass="mat-card-renovacion">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.BRAND-RENOVATION-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_renovacion">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.RENOVATION-FAVORABLE-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_infor_fav_renov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.RENOVATION-UNFAVORABLE-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_infor_desf_renov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REQUIREMENT-SIGNATURE-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_firma_req_renov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REQUIREMENT-NOTIFICATION-DATE' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_notif_req_renov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REC-ENMIENDA-DATE' | translate}}</mat-label>
                        <input matInput type="datetime-local" formControlName="fecha_REC_enmienda_renov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REC-JUSTIFICATION-DATE' | translate}}</mat-label>
                        <input matInput type="datetime-local" formControlName="fecha_REC_justificacion_renov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REC-JUSTIFICATION-REF' | translate}}</mat-label>
                        <input matInput type="text" formControlName="ref_REC_justificacion_renov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.RENOVATION-RESOLUTION' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_resolucion_renov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.RENOVATION-NOTIFICATION' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_notificacion_renov">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'FORM.REVOCATION-RESOLUTION' | translate}}</mat-label>
                        <input matInput type="date" formControlName="fecha_res_revocacion_marca">
                    </mat-form-field>
                </section>
                <section>
                    <h4>{{'ACTOSADMINISTRATIVOS.TITLE' | translate}}</h4>
                    <app-renov-informe-favorable-ils
                    [form]="form"
                    [actualID]="actualID" [actualIdExp]="actualIdExp"
                    [actualNif]="actualNif" [actualConvocatoria]="actualConvocatoria"
                    [actualEmpresa]="actualEmpresa" [actualTipoTramite]="actualTipoTramite"></app-renov-informe-favorable-ils>
                    <mat-accordion ngClass="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{'ACTOSADMINISTRATIVOS.INFORMEFAVORABLECONREQUERIMIENTO' | translate}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <button mat-raised-button color="accent" (click)="enableEdit()">Generar</button>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{'ACTOSADMINISTRATIVOS.INFORMEDESFAVORABLECONREQUERIMIENTO' | translate}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <button mat-raised-button color="accent" (click)="enableEdit()">Generar</button>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{'ACTOSADMINISTRATIVOS.RESOLUCIONRENOVACIONMARCA' | translate}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <button mat-raised-button color="accent" (click)="enableEdit()">Generar</button>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{'ACTOSADMINISTRATIVOS.RESOLUCIONRENOVACIONMARCACONREQUERIMIENTO' | translate}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <button mat-raised-button color="accent" (click)="enableEdit()">Generar</button>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{'ACTOSADMINISTRATIVOS.RESOLUCIONREVOCACION' | translate}}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <button mat-raised-button color="accent" (click)="enableEdit()">Generar</button>
                        </mat-expansion-panel>
                    </mat-accordion>
                </section>
                <section>
                    <h4 [innerHTML]="'FORM.REQUESTDOCUMENTATION' | translate"></h4>
                    <app-document [idSol]="idExpediente" [requiredDocs]="'NO'"
                        [faseExped]="'Renovacion'"></app-document>
                </section>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
    <section>
        <button mat-raised-button color="primary" type="submit" (click)="enableEdit()">Editar</button>
        <button mat-raised-button color="accent" (click)="saveExpediente()" [disabled]="!form.valid || !isEditing">Guardar</button>
    </section>
</form>