    <section class="container">
      <h2>Listado de Configuraciones</h2>

      <mat-form-field appearance="fill" class="filter-input">
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="filterText" (keyup)="aplicarFiltro()" placeholder="Buscar en todas las columnas">
      </mat-form-field>

      <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Columnas -->
       <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let config">
              <a [routerLink]="['/global-configuration-detail', config.id]">{{ config.id }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="activeGeneralData">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Activa</th>
          <td mat-cell *matCellDef="let config"[ngClass]="{
        'config-active': config.activeGeneralData === 'SI',
        'config-not-active': config.activeGeneralData === 'NO',
      }">{{ config.activeGeneralData }}</td>
        </ng-container>

        <ng-container matColumnDef="convocatoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Convocatoria</th>
          <td mat-cell *matCellDef="let config">{{ config.convocatoria }}</td>
        </ng-container>

        <ng-container matColumnDef="num_BOIB">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BOIB</th>
          <td mat-cell *matCellDef="let config">{{ config.num_BOIB }}</td>
        </ng-container>

        <ng-container matColumnDef="num_BOIB_modific">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>num_BOIB_modific</th>
          <td mat-cell *matCellDef="let config">{{ config.num_BOIB_modific }}</td>
        </ng-container>

        <ng-container matColumnDef="respresidente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>respresidente</th>
          <td mat-cell *matCellDef="let config">{{ config.respresidente }}</td>
        </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let config">
            <button mat-icon-button color="warn" (click)="eliminarConfiguracion(config.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </section>