:host {
  display: block;
  padding: 1.5rem;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  mat-form-field {
    flex: 1 1 250px;
  }

  button[type="submit"],
  button[type="button"] {
    height: 56px;
  }
}

mat-progress-bar {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  th.mat-header-cell {
    background-color: #e0e0e0;
    font-weight: bold;
  }

  td.mat-cell,
  th.mat-header-cell {
    padding: 0.75rem;
  }

  td.linea-isba {
    background-color: #00145c;
    color: #fff;
    border-radius: 0.5rem;
    text-align: center;
  }

  tr.mat-row:nth-child(even) {
    background-color: #f5f5f5;
  }
}

p {
  text-align: center;
  color: #888;
  margin-top: 1rem;
}


.filtros-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: stretch;

  mat-form-field {
    flex: 1 1 200px;
    min-width: 180px;
    height: 56px;

    .mat-form-field-flex {
      height: 100%;
    }
  }

  .form-actions {
    display: flex;
    align-items: stretch;
    gap: 8px;

    button {
      height: 56px;
      white-space: nowrap;
    }
  }
}