  <mat-accordion [ngClass]="['detalle-formulario', 'req-state', stateClassActAdmin2]">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> 2. {{'ACTOSADMINISTRATIVOS.RESOLUCIONDESESTIMIENTOPORNOENMENDAR' | translate}} </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button color="accent" (click)="generateActoAdmin('2_resolucion_desestimiento_por_no_enmendar', 'XECS', 'res_desestimiento_por_no_enmendar')">Generar</button>
        <button mat-raised-button color="accent" (click)="actoAdmin2 ? viewActoAdmin(actualNif, 'informes', nameDocgenerado, 'pdf') : generateActoAdmin('2_resolucion_desestimiento_por_no_enmendar', 'XECS', 'res_desestimiento_por_no_enmendar')" [disabled]="!actoAdmin2">Ver documento</button>
        <button *ngIf="!publicAccessId" mat-raised-button color="warn" (click)="sendActoAdminToSign(actualNif, 'informes', nameDocgenerado, 'pdf')" [disabled]="!actoAdmin2">Send to sign</button>
        <section *ngIf="publicAccessId" [ngClass]="['detalle-formulario', 'req-state', stateClassActAdmin2]">
          <section *ngIf="signatureDocState === 'COMPLETED'">
            <a  href='{{externalSignUrl}}' target="_blank">Ver el documento firmado</a>
          </section>
          <section *ngIf="signatureDocState === 'REJECTED'">Firma rechazada</section>
          <section *ngIf="signatureDocState === 'NOT_STARTED'">
            <span>Pendiente de firma.</span><br>
            <span>Este documento se envió a firmar a la dirección: <strong>{{sendedUserToSign}}</strong></span><br>
            <span>en la fecha: <strong>{{sendedDateToSign | date:'dd/MM/yyyy HH:mm:ss'}}</strong></span>
            <button mat-raised-button color="warn" (click)="sendActoAdminToSign(actualNif, 'informes', nameDocgenerado, 'pdf')" [disabled]="!actoAdmin2">Send to sign again</button>
          </section>
          <section *ngIf="signatureDocState === 'IN_PROCESS'">
            <span>Firma en curso</span>
          </section>
        </section>        
        <iframe *ngIf="pdfUrl" [src]="pdfUrl" width="100%" height="600px" ngClass="pdf-container"></iframe>
        <button mat-button color="warn" ngClass="close-button"  *ngIf="showPdfViewer" (click)="closeViewActoAdmin()">Cerrar ✖</button>        
      </mat-expansion-panel>
  </mat-accordion>