<section ngClass="table-container">
  <!-- Filtro por tipo_tramite -->
  <mat-form-field appearance="outline">
    <mat-label>Filtrar por Tipo de Trámite</mat-label>
    <mat-select [(value)]="selectedTipoTramite" (selectionChange)="applyFilter()">
      <mat-option value="">Todos</mat-option>
      <mat-option value="ILS">ILS</mat-option>
      <mat-option value="XECS">XECS</mat-option>
      <mat-option value="ADR-ISBA">ADR-ISBA</mat-option>
    </mat-select>
  </mat-form-field>

    <!-- Paginación -->
  <mat-paginator [pageSizeOptions]="[30, 50, 100]" showFirstLastButtons></mat-paginator>
  <!-- Tabla -->
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Denominación Column -->
    <ng-container matColumnDef="denominacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Denominación </th>
      <td mat-cell *matCellDef="let element"> {{element.denominacion}} </td>
    </ng-container>

    <!-- Tipo de Trámite Column -->
    <ng-container matColumnDef="tipo_tramite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Trámite </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_tramite}} </td>
    </ng-container>

<!-- Signed By Column -->
<ng-container matColumnDef="signedBy">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Signed By </th>
  <td mat-cell *matCellDef="let element"
      [ngClass]="{
        'signed-conseller': element.signedBy === 'CONSELLER',
        'signed-ceo': element.signedBy === 'D. GERENTE',
        'signed-technician': element.signedBy === 'TECNICO/CA'
      }">

    {{element.signedBy}}

  </td>
</ng-container>


    <!-- Tipo de Trámite Column -->
    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Última modificación </th>
      <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
    </ng-container>    

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button color="primary" [routerLink]="['/acto-admin-detail', element.id]">Editar</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
