<form [formGroup]="ilsForm" ngClass="form" (ngSubmit)="onSubmit()">
    <div class="example-action-buttons">
        <button matButton type="button" ngClass="btn-green btn" (click)="accordion().openAll()">{{ 'ILS.EXPANDALL' |
            translate
            }}</button>
        <button matButton type="button" ngClass="btn-green btn" (click)="accordion().closeAll()">{{ 'ILS.COLAPSEALL' |
            translate
            }}</button>
    </div>
    <mat-accordion ngClass="example-headers-align" multi>
        <!-- RGPD -->
        <mat-expansion-panel [expanded]="step() === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header>
                <mat-panel-title>{{'ILS.RGPD.TITLE' | translate}}</mat-panel-title>
                <mat-panel-description>
                    {{'ILS.RGPD.DESCRIPTION' | translate}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <section>
                <mat-checkbox formControlName="acceptRGPD">{{'ILS.RGPD.READ-AND-ACCEPTS' | translate}} <abbr
                        title="{{'ILS.RGPD.ABBR' | translate}}">{{'ILS.RGPD.RGPD' | translate}}</abbr></mat-checkbox>
                <section>
                    <p>{{'ILS.RGPD.REQUIRED-DOCS.INFO' | translate}}</p>
                    <ul>
                        <li>{{'ILS.RGPD.REQUIRED-DOCS.DOC-1' | translate}}</li>
                        <li>{{'ILS.RGPD.REQUIRED-DOCS.DOC-2.PART-1' | translate}}<abbr
                                title="{{'ILS.RGPD.REQUIRED-DOCS.IAEABBR' | translate}}">{{'ILS.RGPD.REQUIRED-DOCS.IAE'
                                | translate}}</abbr> {{'ILS.RGPD.REQUIRED-DOCS.DOC-2.PART-2' | translate}}</li>
                        <li [innerHTML]="'ILS.RGPD.REQUIRED-DOCS.DOC-3' | translate"></li>
                        <li [innerHTML]="'ILS.RGPD.REQUIRED-DOCS.DOC-4' | translate"></li>
                        <li>{{'ILS.RGPD.REQUIRED-DOCS.DOC-5' | translate}}</li>
                    </ul>
                    <p>{{'ILS.RGPD.OPTIONAL-DOCS.INFO' | translate}}</p>
                    <ul>
                        <li>{{'ILS.RGPD.OPTIONAL-DOCS.DOC-1' | translate}}</li>
                        <li>{{'ILS.RGPD.OPTIONAL-DOCS.DOC-2.PART-1' | translate}} <abbr
                                title="{{'ILS.RGPD.OPTIONAL-DOCS.CIFABBR' | translate}}">{{'ILS.RGPD.OPTIONAL-DOCS.CIF'
                                | translate}}</abbr> {{'ILS.RGPD.OPTIONAL-DOCS.DOC-2.PART-2' | translate}}</li>
                        <li>{{'ILS.RGPD.OPTIONAL-DOCS.DOC-3' | translate}}</li>
                    </ul>

                    <p><strong>{{'ILS.RGPD.AUTORIZATION.INFO.PART-1' | translate}}</strong>
                        {{'ILS.RGPD.AUTORIZATION.INFO.PART-2' | translate}}<abbr
                            title="{{'ILS.RGPD.AUTORIZATION.ADRBALEARSABBR' | translate}}">ADR Balears</abbr>
                        {{'ILS.RGPD.AUTORIZATION.INFO.PART-3' | translate}}<abbr
                            title="{{'ILS.RGPD.AUTORIZATION.ATIBABBR' | translate}}">ATIB</abbr>
                        {{'ILS.RGPD.AUTORIZATION.INFO.PART-4' | translate}}<abbr
                            title="{{'ILS.RGPD.AUTORIZATION.TGSSABBR' | translate}}">TGSS</abbr>,
                        {{'ILS.RGPD.AUTORIZATION.INFO.PART-5' | translate}}</p>
                    <ul>
                        <li><abbr title="{{'ILS.RGPD.AUTORIZATION.NIFABBR' | translate}}">{{'ILS.RGPD.AUTORIZATION.NIF'
                                | translate}}</abbr> {{'ILS.RGPD.AUTORIZATION.DOC-1' | translate}}</li>
                        <li>{{'ILS.RGPD.AUTORIZATION.DOC-2' | translate}}<abbr
                                title="{{'ILS.RGPD.AUTORIZATION.ATIBABBR' | translate}}">ATIB</abbr>.</li>
                        <li>{{'ILS.RGPD.AUTORIZATION.DOC-3' | translate}}<abbr
                                title="{{'ILS.RGPD.AUTORIZATION.TGSSABBR' | translate}}">TGSS</abbr>.</li>
                    </ul>
                    <p>{{'ILS.RGPD.NOTIFICATION.INFO' | translate}}</p>
                    <ul>
                        <li>{{'ILS.RGPD.NOTIFICATION.DOC-1' | translate}}</li>
                        <li>{{'ILS.RGPD.NOTIFICATION.DOC-2' | translate}}</li>
                    </ul>
                </section>
            </section>
        </mat-expansion-panel>
        <!-- Tipo de solicitante -->
        <mat-expansion-panel [disabled]="!rgpdAccepted" [expanded]="step() === 1">
            <mat-expansion-panel-header>
                <mat-panel-title>{{'ILS.BUSINESS-TYPE.TITLE' | translate}}</mat-panel-title>
                <mat-panel-description>
                    {{'ILS.BUSINESS-TYPE.DESCRIPTION' | translate}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <section ngClass="section-applicant-type">
                <section>
                    <mat-radio-group formControlName="tipo_solicitante" (ngModelChange)="changeNIFValidator()">
                        <mat-radio-button value="autonomo">{{'ILS.BUSINESS-TYPE.SELF-EMPLOYED' |
                            translate}}</mat-radio-button>
                        <mat-radio-button value="pequenya">{{'ILS.BUSINESS-TYPE.SMALL.NAME' |
                            translate}}*</mat-radio-button>
                        <mat-radio-button value="mediana">{{'ILS.BUSINESS-TYPE.MEDIUM.NAME' |
                            translate}}*</mat-radio-button>
                    </mat-radio-group>
                </section>
                <section>
                    <p><strong>*{{'ILS.BUSINESS-TYPE.SMALL.NAME' | translate}}</strong>:
                        {{'ILS.BUSINESS-TYPE.SMALL.INFO' | translate}}</p>
                    <p><strong>*{{'ILS.BUSINESS-TYPE.MEDIUM.NAME' | translate}}</strong>:
                        {{'ILS.BUSINESS-TYPE.MEDIUM.INFO' | translate}}</p>
                </section>
            </section>
        </mat-expansion-panel>
        <!-- Datos personales -->
        <mat-expansion-panel [disabled]="(!rgpdAccepted || !businessTypeChoosed)">
            <mat-expansion-panel-header>
                <mat-panel-title>{{'ILS.GENERAL-DATA.TITLE' | translate}}</mat-panel-title>
                <mat-panel-description>{{'ILS.GENERAL-DATA.DESCRIPTION' | translate}}</mat-panel-description>
            </mat-expansion-panel-header>
            <section ngClass="personal-data">
                <mat-form-field>
                    <mat-label *ngIf="businessType === 'autonomo'">{{'ILS.GENERAL-DATA.APPLICANT.NIF.LABEL' |
                        translate}}</mat-label>
                    <mat-label *ngIf="businessType !== 'autonomo'">{{'ILS.GENERAL-DATA.APPLICANT.CIF.LABEL' |
                        translate}}</mat-label>
                    <input matInput type="text" formControlName="nif" maxlength="9" (blur)="cleanBlank($event)">
                    <mat-error
                        *ngIf="ilsForm.get('nif')?.errors && businessType ==='autonomo'">{{'ILS.GENERAL-DATA.APPLICANT.NIF.ERROR'
                        | translate}}</mat-error>
                    <mat-error
                        *ngIf="ilsForm.get('nif')?.errors && businessType !=='autonomo'">{{'ILS.GENERAL-DATA.APPLICANT.CIF.ERROR'
                        | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.GENERAL-DATA.COMPANY-NAME.LABEL' | translate}}</mat-label>
                    <input matInput type="text" formControlName="denom_interesado" (blur)="cleanBlank($event)">
                    <mat-error *ngIf="ilsForm.get('denom_interesado')?.errors">{{'ILS.GENERAL-DATA.COMPANY-NAME.ERROR' |
                        translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.GENERAL-DATA.ADDRESS.LABEL' | translate}}</mat-label>
                    <input matInput type="text" formControlName="domicilio" (blur)="cleanBlank($event)">
                    <mat-error *ngIf="ilsForm.get('domicilio')?.errors">{{'ILS.GENERAL-DATA.ADDRESS.ERROR' |
                        translate}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'ILS.GENERAL-DATA.ZIPCODE.LABEL' | translate}}</mat-label>
                    <input matInput (ngModelChange)="selectedValue()" type="text" formControlName="cpostal"
                        maxlength="5" minlength="5" [matAutocomplete]="auto" (blur)="cleanBlank($event)">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option.zipCode}}
                            {{option.town}}</mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="ilsForm.get('cpostal')?.errors">{{'ILS.GENERAL-DATA.ZIPCODE.ERROR' |
                        translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.GENERAL-DATA.TOWN' | translate}}</mat-label>
                    <input matInput formControlName="localidad">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.GENERAL-DATA.CONTACT-PHONE.LABEL' | translate}}</mat-label>
                    <input matInput type="tel" formControlName="tel_cont" (blur)="cleanBlank($event)" minlength="9"
                        maxlength="9">
                    <mat-error *ngIf="ilsForm.get('tel_cont')?.errors">{{'ILS.GENERAL-DATA.CONTACT-PHONE.ERROR' |
                        translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.GENERAL-DATA.BAT-EPIGRAPH.LABEL' | translate}}</mat-label>
                    <mat-select formControlName="iae">
                        <mat-option *ngFor="let epigrafe of epigrafesIAE;"
                            [value]="epigrafe.value">{{epigrafe.label}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="ilsForm.get('iae')?.errors">{{'ILS.GENERAL-DATA.BAT-EPIGRAPH.ERROR' |
                        translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.GENERAL-DATA.WEBSITE' | translate}}</mat-label>
                    <input matInput type="text" formControlName="sitio_web_empresa" (blur)="cleanBlank($event)">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.GENERAL-DATA.PRESENTATION-VIDEO' | translate}}</mat-label>
                    <input matInput type="text" formControlName="video_empresa" (blur)="cleanBlank($event)">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.GENERAL-DATA.REPRESENTATIVE.NAME.LABEL' | translate}}</mat-label>
                    <input matInput type="text" formControlName="nom_representante" (blur)="cleanBlank($event)">
                    <mat-error
                        *ngIf="ilsForm.get('nom_representante')?.errors">{{'ILS.GENERAL-DATA.REPRESENTATIVE.NAME.ERROR'
                        | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ILS.GENERAL-DATA.REPRESENTATIVE.NIF.LABEL' | translate}}</mat-label>
                    <input matInput type="text" formControlName="nif_representante" minlength="9" maxlength="9"
                        (blur)="cleanBlank($event)">
                    <mat-error
                        *ngIf="ilsForm.get('nif_representante')?.errors">{{'ILS.GENERAL-DATA.REPRESENTATIVE.NIF.ERROR' |
                        translate}}</mat-error>
                </mat-form-field>
            </section>
        </mat-expansion-panel>

        <!-- Canal de notificaciones-->
        <mat-expansion-panel [disabled]="!rgpdAccepted">
            <mat-expansion-panel-header>
                <mat-panel-title>{{'ILS.NOTIFICATION-CHANNEL.TITLE' | translate}}</mat-panel-title>
                <mat-panel-description>{{'ILS.NOTIFICATION-CHANNEL.DESCRIPTION' | translate}}</mat-panel-description>
            </mat-expansion-panel-header>
            <section ngClass="notification-channel">
                <section ngClass="inputs">
                    <mat-form-field>
                        <mat-label>{{'ILS.NOTIFICATION-CHANNEL.PHONE.LABEL' | translate}}</mat-label>
                        <input matInput type="tel" formControlName="tel_representante" (blur)="cleanBlank($event)"
                            maxlength="9">
                        <mat-error
                            *ngIf="ilsForm.get('tel_representante')?.errors">{{'ILS.NOTIFICATION-CHANNEL.PHONE.ERROR' |
                            translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'ILS.NOTIFICATION-CHANNEL.EMAIL.LABEL' | translate}}</mat-label>
                        <input matInput type="email" formControlName="mail_representante" (blur)="cleanBlank($event)">
                        <mat-error
                            *ngIf="ilsForm.get('mail_representante')?.errors">{{'ILS.NOTIFICATION-CHANNEL.EMAIL.ERROR' |
                            translate}}</mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <p [innerHTML]="'ILS.NOTIFICATION-CHANNEL.INFO' | translate"></p>
                </section>
            </section>
        </mat-expansion-panel>
        <mat-expansion-panel>Autorizaciones (Desmarcado -> Input)</mat-expansion-panel>
        <mat-expansion-panel>Declaración responsable (checkboxs marcados por defecto y readonly)</mat-expansion-panel>
        <mat-expansion-panel>Documentación requerida y opcional (10 M máx)</mat-expansion-panel>
    </mat-accordion>

    <button mat-raised-button color="primary" type="submit" [disabled]="ilsForm.invalid">Enviar solicitud</button>
</form>