<mat-accordion [ngClass]="['detalle-formulario', 'req-state', stateClass]">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> 13. {{'ACTOSADMINISTRATIVOS.PROPUESTARESOLUCIONDEFINITIVADESFAVORABLE' | translate}} </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-raised-button color="accent" (click)="generateActoAdmin('13_propuesta_resolucion_definitiva_desfavorable_sin_requerimiento', 'XECS')">{{'ACTOSADMINISTRATIVOS.GENERAL.GENERATEACTO' | translate}}</button>
    <button mat-raised-button color="accent" (click)="actoAdmin13 ? viewActoAdmin(actualNif, 'informes', nameDocgenerado, 'pdf') : generateActoAdmin('13_propuesta_resolucion_definitiva_desfavorable_sin_requerimiento', 'XECS')" [disabled]="!actoAdmin13">{{'ACTOSADMINISTRATIVOS.GENERAL.VIEWACTO' | translate}}</button>
    <button *ngIf="!publicAccessId" mat-raised-button color="warn" (click)="sendActoAdminToSign(actualNif, 'informes', nameDocgenerado, 'pdf')" [disabled]="!actoAdmin13">{{'ACTOSADMINISTRATIVOS.GENERAL.SENDTOCEO' | translate}}</button>
    <section *ngIf="publicAccessId" [ngClass]="['detalle-formulario', 'req-state', stateClass]">
      <section *ngIf="signatureDocState === 'COMPLETED'">
        <a  href='{{externalSignUrl}}' target="_blank">{{'ACTOSADMINISTRATIVOS.SIGNATURESTATUS.VIEWSIGNEDDOC' | translate}}</a>
      </section>
      <section *ngIf="signatureDocState === 'REJECTED'">{{'ACTOSADMINISTRATIVOS.SIGNATURESTATUS.REJECTED' | translate}}</section>
      <section *ngIf="signatureDocState === 'NOT_STARTED'">
        <span>{{'ACTOSADMINISTRATIVOS.SIGNATURESTATUS.PENDING' | translate}}</span><br>
        <span>{{'ACTOSADMINISTRATIVOS.SIGNATURESTATUS.PENDINGEMAIL' | translate}} <strong>{{sendedUserToSign}}</strong></span><br>
        <span>{{'ACTOSADMINISTRATIVOS.SIGNATURESTATUS.PENDINGDATE' | translate}} <strong>{{sendedDateToSign | date:'dd/MM/yyyy HH:mm:ss'}}</strong></span>
        <button mat-raised-button color="warn" (click)="sendActoAdminToSign(actualNif, 'informes', nameDocgenerado, 'pdf')" [disabled]="!actoAdmin13">{{'ACTOSADMINISTRATIVOS.GENERAL.SENDTOSIGNAGAIN' | translate}}</button>
      </section>
      <section *ngIf="signatureDocState === 'IN_PROCESS'">
        <span>{{'ACTOSADMINISTRATIVOS.SIGNATURESTATUS.PROGRESS' | translate}}</span>
      </section>
    </section>     
    <iframe *ngIf="pdfUrl" [src]="pdfUrl" width="100%" height="600px" ngClass="pdf-container"></iframe>
    <button mat-button color="warn" ngClass="close-button"  *ngIf="showPdfViewer" (click)="closeViewActoAdmin()">{{'ACTOSADMINISTRATIVOS.GENERAL.CLOSE' | translate}} ✖</button>        
  </mat-expansion-panel>
</mat-accordion>
