   <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{'ACTOSADMINISTRATIVOS.INFORMEFAVORABLE' | translate}} </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-raised-button color="accent" (click)="generateActoAdmin('4_informe_favorable_sin_requerimiento', 'XECS', 'informe_favorable_sin_requerimiento')">Generar</button>
    <button mat-raised-button color="accent" (click)="actoAdmin3 ? viewActoAdmin(actualNif, 'informes', nameDocgenerado, 'pdf') : generateActoAdmin('4_informe_favorable_sin_requerimiento', 'XECS', 'informe_favorable_sin_requerimiento')" [disabled]="!actoAdmin3">Ver documento</button>{{publicAccessId}}
  </mat-expansion-panel>
