$primary-adr: #00405e;
$secondary-adr: rgba(0, 152, 206, 1);
$secondary-adr-light: rgba(0, 152, 206, .1);
$primary-adr-bck: #f7f8f9;
$secondary-adr-bck: #ececed;
$primary-adr-txt: #333333;
$secondary-adr-txt: #ffffff;
$comercio-adr-bck: #ed7548;
$industria-adr-bck: #6c9da6;
$emprender: #6b9da7;
$conectar: #71b796;
$proyectar: #ed7448;
$asistentes: #ed7548;
$asesoramiento: #70b695;
$alumnos: #0098cb;