/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: Inter, sans-serif;
  margin: auto;
  width: 100%;
}

a {
  color: #fff;

  &:hover {
    color: #00405e;
  }
}

.mat-expansion-panel {
  /* color: inherit!important; */
  background: #00405e!important;
}

.docs-in-adr {
  mat-form-field {
    width: 100%;

    input[matInput] {
     /*  background-color: #ffffff;
      border: 1px solid #ccc; */
      cursor: pointer;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      &:hover {
        border-color: #888;
      }

      &:focus {
        border-color: #3f51b5;
        outline: none;
      }

      &:disabled {
        /* background-color: #f5f5f5; */
        text-decoration: line-through;
        border: 1px dashed #bbb;
        color: #999;
        cursor: not-allowed;
      }
    }
  }
}

