<mat-accordion [ngClass]="['detalle-formulario', 'req-state', stateClassActAdmin4]">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>4. {{'ACTOSADMINISTRATIVOS.INFORMEFAVORABLECONREQUERIMIENTO' | translate}}</mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button color="primary" (click)="generateActoAdmin('isba_4_informe_favorable_con_requerimiento', 'ADR-ISBA', 'informe_favorable_con_requerimiento_adr_isba')">Generar</button>
        <button mat-raised-button color="accent" (click)="actoAdmin4 ? viewActoAdmin(actualNif, 'informes', nameDocGenerado, 'pdf') : generateActoAdmin('isba_4_informe_favorable_con_requerimiento', 'ADR-ISBA', 'informe_favorable_con_requerimiento_adr_isba')" [disabled]="!actoAdmin4">Ver documento</button>
        <button *ngIf="!publicAccessId" mat-raised-button color="warn" [disabled]="!actoAdmin4" (click)="sendActoAdminToSign(actualNif, 'informes', nameDocGenerado, 'pdf')" [disabled]="!actoAdmin4">Send to sign</button>
        <section *ngIf="publicAccessId" [ngClass]="['detalle-formulario', 'req-state', stateClassActAdmin4]">
            <section *ngIf="signatureDocState === 'COMPLETED'">
                <a href="{{externalSignUrl}}" target="_blank">Ver el documento firmado</a>
            </section>
            <section *ngIf="signatureDocState === 'REJECTED'">Firma rechazada</section>
            <section *ngIf="signatureDocState === 'NOT_STARTED'">
                <span>Pendiente de firma.</span><br>
                <span>Este documento se envió a firmar a la dirección: <strong>{{sendedUserToSign | lowercase}}</strong></span><br>
                <span>en la fecha: <strong>{{sendedDateToSign | date: 'dd/MM/yyyy HH:mm:ss'}}</strong></span>
                <button mat-raised-button color="warn" [disabled]="!actoAdmin4" (click)="sendActoAdminToSign(actualNif, 'informes', nameDocGenerado, 'pdf')">Send to sign again</button>
            </section>
            <section *ngIf="signatureDocState === 'IN_PROCESS'">
                <span>Firma en curso</span>
            </section>
        </section>
        <section *ngIf="faltanCampos" style="margin-top: 10px;">
            <span>Faltan los campos:</span>
            <ol>
                <li *ngFor="let campo of camposVacios;">{{campo | translate}}</li>
            </ol>
        </section>
        <iframe *ngIf="pdfUrl" [src]="pdfUrl" width="100%" height="600px" ngClass="pdf-container"></iframe>
        <button mat-button color="warn" ngClass="close-button" *ngIf="showPdfViewer" (click)="closeViewActoAdmin()">Cerrar ✖</button>
    </mat-expansion-panel>
</mat-accordion>