<form [formGroup]="formRequerimiento" ngClass="detalle-formulario">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>**{{'ACTOSADMINISTRATIVOS.REQUERIMIENTO' | translate}}**</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>Motivo del requerimiento</mat-label>
          <textarea matInput formControlName="motivoRequerimiento" required rows="5"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" (click)="saveReasonRequest()">Guardar</button>
        <button mat-raised-button color="accent" (click)="reqGenerado ? viewActoAdmin(actualNif, 'informes', nameDocgenerado, 'pdf') : generateActoAdmin('1_requerimiento', 'XECS', 'requeriment')" [disabled]="!reqGenerado && noRequestReasonText">
          {{ reqGenerado ? 'Ver documento' : 'Generar' }}
        </button>
        <button mat-raised-button color="warn" (click)="sendActoAdminToSign(actualNif, 'informes', nameDocgenerado, 'pdf')" [disabled]="!reqGenerado">Send to sign</button>
        <iframe *ngIf="pdfUrl" [src]="pdfUrl" width="100%" height="600px" ngClass="pdf-container"></iframe>
        <button mat-button color="warn" ngClass="close-button"  *ngIf="showPdfViewer" (click)="closeActoAdmin()">Cerrar ✖</button>
      </mat-expansion-panel>
    </mat-accordion>
  </form>